<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="RactiveJS contributors"> 
    <link rel="canonical" href="https://ractive.js.org/concepts/templates/keypaths/"> 
    <link rel="shortcut icon" href="../../../img/favicon.ico">

    <title>Keypaths - Ractive.js</title>

    <link href="../../../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../../../css/base.css" rel="stylesheet">
    <link href="../../../css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/highlight.css">


    <link href="../../../css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../../..">Ractive.js</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Started <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../..">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../get-started/60-second-setup/">60-second Setup</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Learn</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../get-started/tutorials/hello-world/">Hello, world!</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/references-and-context/">References and Context</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/expressions-and-computations/">Expressions and Computations</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/all-things-template/">All Things Template</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/context-and-helpers/">Context and Helpers</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/dom-and-instance-events/">DOM and Instance Events</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/transitions/">Transitions</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/components/">Coomponents</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/decorators/">Decorators</a>
</li>

        
            
<li >
    <a href="../../../get-started/tutorials/svg-and-animation/">SVG and Animation</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Examples</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../get-started/examples/analog-clock/">Analog Clock</a>
</li>

        
            
<li >
    <a href="../../../get-started/examples/animated-chart/">Animated Chart</a>
</li>

        
            
<li >
    <a href="../../../get-started/examples/comments/">Comments</a>
</li>

        
            
<li >
    <a href="../../../get-started/examples/donut-chart/">Donut Chart</a>
</li>

        
            
<li >
    <a href="../../../get-started/examples/illustration/">Illustration</a>
</li>

        
            
<li >
    <a href="../../../get-started/examples/rating-stars/">Rating Sars</a>
</li>

        
            
<li >
    <a href="../../../get-started/examples/todo-list/">ToDo List</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../../get-started/debugging/">Debugging</a>
</li>

                        
                            
<li >
    <a href="../../../get-started/support/">Support</a>
</li>

                        
                            
<li >
    <a href="../../../get-started/contributing/">Contributing</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../api/initialization-options/">Initialization Options</a>
</li>

                        
                            
<li >
    <a href="../../../api/static-properties/">Static Properties</a>
</li>

                        
                            
<li >
    <a href="../../../api/static-methods/">Static Methods</a>
</li>

                        
                            
<li >
    <a href="../../../api/instance-properties/">Instance Properties</a>
</li>

                        
                            
<li >
    <a href="../../../api/instance-methods/">Instance Methods</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Helper Objects</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../api/helper-objects/node-info/">Node Info</a>
</li>

        
            
<li >
    <a href="../../../api/helper-objects/parse/">Parse</a>
</li>

        
            
<li >
    <a href="../../../api/helper-objects/transition/">Transition</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../../api/attributes/">Attributes</a>
</li>

                        
                            
<li >
    <a href="../../../api/keypath-prefixes/">Keypath Prefixes</a>
</li>

                        
                            
<li >
    <a href="../../../api/special-references/">Special References</a>
</li>

                        
                            
<li >
    <a href="../../../api/component-files/">Component Files</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extend <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../extend/adaptors/">Adaptors</a>
</li>

                        
                            
<li >
    <a href="../../../extend/components/">Components</a>
</li>

                        
                            
<li >
    <a href="../../../extend/decorators/">Decorators</a>
</li>

                        
                            
<li >
    <a href="../../../extend/easings/">Easings</a>
</li>

                        
                            
<li >
    <a href="../../../extend/events/">Events</a>
</li>

                        
                            
<li >
    <a href="../../../extend/interpolators/">Interpolators</a>
</li>

                        
                            
<li >
    <a href="../../../extend/partials/">Partials</a>
</li>

                        
                            
<li >
    <a href="../../../extend/transitions/">Transitions</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Integrations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../integrations/loaders/">Loaders</a>
</li>

                        
                            
<li >
    <a href="../../../integrations/plugins/">Plugins</a>
</li>

                        
                            
<li >
    <a href="../../../integrations/tools/">Tools</a>
</li>

                        
                            
<li >
    <a href="../../../integrations/libraries/">Libraries</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Architecture</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../architecture/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../architecture/parser/">Parser</a>
</li>

        
            
<li >
    <a href="../../architecture/model/">Model</a>
</li>

        
            
<li >
    <a href="../../architecture/view/">View</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Data Binding</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../data-binding/computed-properties/">Computed Properties</a>
</li>

        
            
<li >
    <a href="../../data-binding/dependents/">Dependents</a>
</li>

        
            
<li >
    <a href="../../data-binding/observers/">Observers</a>
</li>

        
            
<li >
    <a href="../../data-binding/parallel-dom/">Parallel DOM</a>
</li>

        
            
<li >
    <a href="../../data-binding/two-way-binding/">Two-Way Binding</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Events</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../events/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../events/bubbling/">Bubbling</a>
</li>

        
            
<li >
    <a href="../../events/directives/">Directives</a>
</li>

        
            
<li >
    <a href="../../events/method-calls/">Method Calls</a>
</li>

        
            
<li >
    <a href="../../events/proxy-events/">Proxy Events</a>
</li>

        
            
<li >
    <a href="../../events/publish-subscribe/">Publish-Subscribe</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Rendering</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../rendering/progressive-enhancement/">Progressive Enhancement</a>
</li>

        
            
<li >
    <a href="../../rendering/server-side-rendering/">Server-Side Rendering</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Security</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../security/csp/">CSP</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Templates</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../elements/">Elements</a>
</li>

        
            
<li >
    <a href="../expressions/">Expressions</a>
</li>

        
            
<li class="active">
    <a href="./">Keypaths</a>
</li>

        
            
<li >
    <a href="../mustaches/">Mustaches</a>
</li>

        
            
<li >
    <a href="../parsing/">Parsing</a>
</li>

        
            
<li >
    <a href="../references/">References</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../articles/introducing-ractive-js/">Introducing Ractive.js</a>
</li>

                        
                            
<li >
    <a href="../../../articles/the-origins-of-ractive/">The Origins Of Ractive</a>
</li>

                        
                            
<li >
    <a href="../../../articles/ractive-js-expressions-and-the-new-wave-of-reactive-programming/">Ractive.js Expressions And The New Wave Of Reactive Programming</a>
</li>

                        
                            
<li >
    <a href="../../../articles/ractive-vs-angular/">Ractive.js vs Angular</a>
</li>

                        
                            
<li >
    <a href="../../../articles/ractive-vs-react/">Ractive.js vs React</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../expressions/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../mustaches/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/ractivejs/ractive">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <div id="main">
        <div class="container">
            
            <div class="col-md-3" role="subnav"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="first-level active"><a href="#upstream-and-downstream-keypaths">Upstream and downstream keypaths</a></li>
        
    
        <li class="first-level "><a href="#array-versus-dot-notation">Array versus dot notation</a></li>
        
    
        <li class="first-level "><a href="#missing-properties">Missing properties</a></li>
        
    
        <li class="first-level "><a href="#escaping">Escaping</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<p>The main way to interact with a Ractive instance is by setting <em>keypaths</em>. A keypath is a string representing the location of a piece of data:</p>
<pre><code class="js">ractive = new Ractive({
  el: myContainer,
  template: myTemplate,
  data: {
    foo: {
      bar: 'baz'
    }
  }
});

// Simple keypath
ractive.get( 'foo' ); // returns { bar: 'baz' }

// Compound keypath
ractive.get( 'foo.bar' ); // returns 'baz'
</code></pre>

<h1 id="upstream-and-downstream-keypaths">Upstream and downstream keypaths</h1>
<p>In the example above, we say that <code>'foo.bar'</code> is a <em>downstream keypath</em> of <code>'foo'</code>, while <code>'foo'</code> is an <em>upstream keypath</em> of <code>'foo.bar'</code>.</p>
<h1 id="array-versus-dot-notation">Array versus dot notation</h1>
<p>The <code>'foo.bar'</code> keypath is an example of <em>dot notation</em>. With arrays, you can use dot notation or <em>array notation</em>, which may feel more familiar (internally, it gets converted to dot notation):</p>
<pre><code class="js">ractive = new Ractive({
  el: myContainer,
  template: myTemplate,
  data: {
    list: [ 'a', 'b', 'c' ]
  }
});

// Array notation
ractive.get( 'list[0]' ); // returns 'a'

// Dot notation
ractive.get( 'list.0' ); // also returns 'a'
</code></pre>

<h1 id="missing-properties">Missing properties</h1>
<p>Ordinarily in JavaScript, trying to access a child property of an object that didn't exist would cause an error:</p>
<pre><code class="js">data = { numbers: [ 1, 2, 3 ]};
data.letters[0]; // throws an error - cannot read property '0' of undefined
</code></pre>

<p>Within Ractive, this will simply return <code>undefined</code>:</p>
<pre><code class="js">ractive = new Ractive({
  el: myContainer,
  template: myTemplate,
  data: {
    numbers: [ 1, 2, 3 ]
  }
});

ractive.get( 'letters[0]' ); // returns undefined
</code></pre>

<h1 id="escaping">Escaping</h1>
<p>While not ideal, sometimes properties of objects have <code>.</code>s in name e.g. <code>foo['bar.baz']</code>. Note that while numbers are supported in array notation, strings are not. To access a peypath with a literal <code>.</code> in one of the keys, you can escape it with a <code>\</code> e.g. <code>foo.bar\.baz</code>. Any keys accessible in the template will be unescaped, so if you're trying to use them with simple string concatenation to access a keypath with a <code>.</code> in it, you'll need to make sure you escape it first.</p></div>
            
        </div>

        <footer class="col-md-12 text-center">
            <hr>
            <p>
            <small>©RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.<br></small>
            
            <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p></small>
        </footer>
    </div>

    <script src="../../../js/jquery-1.10.2.min.js"></script>
    <script src="../../../js/bootstrap-3.0.3.min.js"></script>
    <script src="../../../js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '../../..';
    </script>
    <script data-main="../../../mkdocs/js/search.js" src="../../../mkdocs/js/require.js"></script>
    <script src="../../../js/base.js"></script>
    <script src="../../../js/index.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
