<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Next-generation DOM manipulation">
  

  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="author" href="RactiveJS contributors">
  <link rel="canonical" href="https://ractive.js.org">

  <title>Ractive.js</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Voltaire">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/g/highlight.js@9.11.0(styles/default.min.css),pure@0.6.2(pure-min.css+grids-responsive-min.css)">
  <link rel="stylesheet" href="../../theme.css">

  <link rel="stylesheet" href="/static/css/index.css">

  
</head>

<body>
  <input class="menu-state menu-toggle" type="checkbox" name="menu-state" id="menu-state">
  <input class="toc-state menu-toggle" type="checkbox" name="toc-state" id="toc-state">
  <input class="search-state" type="checkbox" name="search-state" id="search-state">

  <div class="main">
    <div class="main__page">
      
  <div class="main__center-container">
    <div class="pure-g">
      <div class="main__sidebar-container pure-u-1 pure-u-md-1-4">
        <div class="main__sidebar">
          <div class="toc pure-menu pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item">
        <a class="pure-menu-link pure-menu-heading" href="#components">Components</a>
      </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#writing">Writing</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#registering">Registering</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#using">Using</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#examples">Examples</a>
        </li>
      
      </li>
    
  </ul>
</div>
        </div>
      </div>
      <div class="main__content-container pure-u-1 pure-u-md-3-4">
        <div class="main__content">
          <h1 id="components">Components</h1>
<p>In many situations, you want to encapsulate behaviour and markup into a single reusable <em>component</em>, which can be dropped into Ractive applications. Components are simply custom-configured "subclasses" of Ractive (analogous, but technically incorrect).</p>
<h2 id="writing">Writing</h2>
<p>There are several ways to write Ractive components. Standard <a href="../../api/initialization-options/">initialization options</a> apply for configuration unless where changes are explicitly mentioned.</p>
<p>The most common way to define a component is by using <a href="../../api/static-methods/#ractiveextend"><code>Ractive.extend()</code></a>.</p>
<pre><code class="js">// A subclass of Ractive
const MyComponent = Ractive.extend({
  template: `
    &lt;div class=&quot;my-component&quot;&gt;
      &lt;span class=&quot;my-component__message&quot;&gt;{{ message }}&lt;/span&gt;
    &lt;/div&gt;
  `,
  css: `
    .my-component__message { color: red }
  `,
  data: { message: 'Hello World' }
});
</code></pre>

<p>Another way to define a component is by using <a href="../../api/component-files/">component files</a> and <a href="../../integrations/loaders/">loaders</a>.</p>
<pre><code class="html">&lt;div class=&quot;my-component&quot;&gt;
  &lt;span class=&quot;my-component__message&quot;&gt;{{ message }}&lt;/span&gt;
&lt;/div&gt;

&lt;style&gt;
  .my-component__message { color: red }
&lt;/style&gt;

&lt;script&gt;
component.exports = {
  data: { message: 'Hello World' }
};
&lt;/script&gt;
</code></pre>

<h2 id="registering">Registering</h2>
<p>Like other plugins, there's 3 ways you can register components:</p>
<h3 id="globally-via-the-ractivecomponents-static-property">Globally, via the <code>Ractive.components</code> static property:</h3>
<pre><code class="js">// Available to all instances of Ractive.
Ractive.components.MyComponent = Ractive.extend({ ... });
</code></pre>

<h3 id="per-component-via-the-components-components-initialization-property">Per component, via the component's <code>components</code> initialization property.</h3>
<pre><code class="js">// Only available for instances of AnotherComponent.
const AnotherComponent = Ractive.extend({
  components: { MyComponent }
});
</code></pre>

<h3 id="per-instance-via-the-instances-components-initialization-property">Per instance, via the instance's <code>components</code> initialization property.</h3>
<pre><code class="js">// Only available to this specific instance.
const ractive = new Ractive({
  components: { MyComponent }
});
</code></pre>

<h2 id="using">Using</h2>
<p>Components are simply subclasses of Ractive, which means the are instatiable via the <code>new</code> keyword.</p>
<pre><code class="js">const ractive = new MyComponent({ ... });
</code></pre>

<p>But where components really shine is when they're used on templates. They are written like <em>custom elements</em>. Each custom element notation represents one instance of the component.</p>
<pre><code class="js">const AnotherComponent = Ractive.extend({
  template: `
    &lt;div&gt;
      &lt;MyComponent /&gt; &lt;!-- One instance of MyComponent --&gt;
      &lt;MyComponent /&gt; &lt;!-- Another instance of MyComponent --&gt;
      &lt;MyComponent /&gt; &lt;!-- Yet another instance of MyComponent --&gt;
    &lt;/div&gt;
  `
});
</code></pre>

<p>The component's tag name depends on the name used upon registration. The same component can be registered more than once using different names.</p>
<pre><code class="js">const MyComponent = Ractive.extend({...});
Ractive.components.MyComponent = MyComponent;
Ractive.components.MyComponentOtherName = MyComponent;

const AnotherComponent = Ractive.extend({
  template: `
    &lt;div&gt;
      &lt;MyComponent /&gt;          &lt;!-- Using MyComponent --&gt;
      &lt;MyComponentOtherName /&gt; &lt;!-- Using MyComponent's other name --&gt;
    &lt;/div&gt;
  `
});
</code></pre>

<h3 id="content">{{&gt;content}}</h3>
<p><code>{{&gt;content}}</code> renders the inner HTML in the context of the component. Partials, components, and any other valid template items can be used as inner HTML. <code>{{&gt;content}}</code> can be thought of as a special partial.</p>
<p>In the following example, the result will print "Lorem Ipsum" because the inner HTML's context is the component, whose <code>message</code> is set to "Lorem Ipsum".</p>
<pre><code class="js">Ractive.components.ChildComponent = Ractive.extend({
  template: `
    &lt;div class=&quot;child-component&quot;&gt;{{&gt;content}}&lt;/div&gt;
  `
});

const ractive = new Ractive({
  el: 'body',
  data: {
    message: 'Hello World!'
  },
  template: `
    &lt;div class=&quot;ractive&quot;&gt;
      &lt;ChildComponent message=&quot;Lorem Ipsum&quot;&gt;
        &lt;div class=&quot;inner-content&quot;&gt;{{ message }}&lt;/div&gt;
      &lt;/ChildComponent&gt;
    &lt;/div&gt;
  `
});
</code></pre>

<p>Partials defined in the inner HTML can be used to override partials defined on the component. This can be used to allow easy customization of each instance using partials.</p>
<p>In the following example, <code>ChildComponent</code>'s default template for the <code>messageWrapper</code> partial is a <code>&lt;strong&gt;</code>. Upon use of <code>ChildComponent</code> in the instance, it overrides the partial to use an <code>&lt;em&gt;</code> instead.</p>
<pre><code class="js">Ractive.components.ChildComponent = Ractive.extend({
  partials: {
    messageWrapper: '&lt;strong&gt;{{message}}&lt;/strong&gt;'
  },
  template: `
    &lt;div class=&quot;child-component&quot;&gt;{{&gt;content}}&lt;/div&gt;
  `
});

const ractive = new Ractive({
  el: 'body',
  data: {
    message: 'Hello World!'
  },
  template: `
    &lt;div class=&quot;ractive&quot;&gt;
      &lt;ChildComponent message=&quot;Lorem Ipsum&quot;&gt;

        {{#partial messageWrapper}}&lt;em&gt;{{message}}&lt;/em&gt;{{/}}

        &lt;div class=&quot;inner-content&quot;&gt;
          {{&gt; messageWrapper }}
        &lt;/div&gt;

      &lt;/ChildComponent&gt;
    &lt;/div&gt;
  `
});
</code></pre>

<h3 id="yield">{{yield}}</h3>
<p><code>{{yield}}</code> renders the inner HTML in the context of the parent component. Partials, components, and any other valid template items can be used as inner HTML. A common use case of <code>{{yield}}</code> is to provide wrapper markup transparently.</p>
<p>In the following example, the result will print "Hello World!" because the inner HTML's context is the parent component's, whose <code>message</code> is "Hello World!".</p>
<pre><code class="js">Ractive.components.ChildComponent = Ractive.extend({
  template: `
    &lt;div class=&quot;child-component&quot;&gt;{{ yield }}&lt;/div&gt;
  `
});

const ractive = new Ractive({
  el: 'body',
  data: {
    message: 'Hello World!'
  },
  template: `
    &lt;div class=&quot;ractive&quot;&gt;
      &lt;ChildComponent message=&quot;Lorem Ipsum&quot;&gt;
        &lt;div class=&quot;inner-content&quot;&gt;{{ message }}&lt;/div&gt;
      &lt;/ChildComponent&gt;
    &lt;/div&gt;
  `
});
</code></pre>

<p>Yields can also be customized using named yields. Instead of rendering with the component's inner HTML, a named yield will look for a partial in the inner HTML with the same name and use that to render the yielded content.</p>
<p>In the following example, <code>ChildComponent</code> renders the yield content 3 times. However, the last two yields will look for <code>italicYield</code> and <code>boldYield</code> partials in the inner HTML and use that to render. What's rendered is three "Hello World!"s in regular, italic and bold.</p>
<pre><code class="js">Ractive.components.ChildComponent = Ractive.extend({
  template: `
    &lt;div class=&quot;child-component&quot;&gt;
      {{ yield }}
      {{ yield italicYield }}
      {{ yield boldYield }}
    &lt;/div&gt;
  `
});

const ractive = new Ractive({
  el: 'body',
  data: {
    message: 'Hello World!'
  },
  template: `
    &lt;div class=&quot;ractive&quot;&gt;
      &lt;ChildComponent message=&quot;Lorem Ipsum&quot;&gt;
        {{#partial italicYield }}&lt;em&gt;{{message}}&lt;/em&gt;{{/}}
        {{#partial boldYield }}&lt;strong&gt;{{message}}&lt;/strong&gt;{{/}}
        {{message}}
      &lt;/ChildComponent&gt;
    &lt;/div&gt;
  `
});
</code></pre>

<h2 id="examples">Examples</h2>
<pre><code></code></pre>
        </div>
      </div>
    </div>
  </div>

    </div>
    <div class="main__footer">
      <div class="page-controls">
  
  <a class="page-controls__link" rel="edit" href="https://github.com/ractivejs/ractivejs.github.io/edit/dev/docs/extend/components.md" target="_blank">Edit this page</a>
  
</div>

<p class="credits">©RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.</p>
    </div>
  </div>

  <div class="nav-mobile">
    <label class="menu-toggle" for="menu-state">Menu</label>
    <label class="search-toggle" for="search-state">Search</label>
    
  <label class="toc-toggle" for="toc-state">Contents<span class="hamburger">&#8801;</span></label>

  </div>
  <label class="playground-toggle">Ractive Playground<span title="Fullscreen" class="playground-fullscreen">&#9974;</span></label>

  <div class="playground-container">
    <div class="close-fullscreen" title="Exit Fullscreen">
      &#8977;
    </div>
    <iframe class="playground-frame" src="/playground/?env=docs"></iframe>
  </div>

  <div class="nav-side pure-menu pure-menu-fixed pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="../..">Ractive.js</a>
      </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Get Started</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/hello-world/">Hello, world!</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/nested-properties/">Nested Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/expressions/">Expressions</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/conditional-sections/">Conditional Sections</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/iterative-sections/">Iterative Sections</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/two-way-binding/">Two-way Binding</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/partials/">Partials</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/triples-embedded-html/">Triples (Embedded HTML)</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/components/">Components</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/animation/">Animations</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/svg/">SVG</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/transitions/">Transitions</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/decorators/">Decorators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/support/">Support</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/migrating/">Migrating</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">API</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/initialization-options/">Initialization Options</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/static-properties/">Static Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/static-methods/">Static Methods</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/instance-properties/">Instance Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/instance-methods/">Instance Methods</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/context-object/">Context Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/parse-object/">Parse Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/transition-object/">Transition Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/directives/">Directives</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/references/">References</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item pure-menu-selected">
        <a class="pure-menu-link pure-menu-heading" href="">Extend</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../adaptors/">Adaptors</a>
        </li>
      
        <li class="pure-menu-item pure-menu-selected">
          <a class="pure-menu-link" href="./">Components</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../decorators/">Decorators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../easings/">Easings</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../interpolators/">Interpolators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../partials/">Partials</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../transitions/">Transitions</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Integrations</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/component-files/">Component Files</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/loaders/">Loaders</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/plugins/">Plugins</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/tools/">Tools</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/libraries/">Libraries</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Concepts</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/architecture/">Architecture</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/data-management/">Data Management</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/event-management/">Event Management</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/templates/">Templates</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/rendering/">Rendering</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/security/">Security</a>
        </li>
      
      </li>
    
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/ractivejs/ractive">Github</a>
    </li>
  </ul>
</div>
  
  <div class="toc-side pure-menu pure-menu-fixed pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item">
        <a class="pure-menu-link pure-menu-heading" href="#components">Components</a>
      </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#writing">Writing</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#registering">Registering</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#using">Using</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#examples">Examples</a>
        </li>
      
      </li>
    
  </ul>
</div>

  <div class="nav-main pure-menu pure-menu-horizontal pure-menu-fixed">
  <div class="nav-container">
    <ul class="pure-menu-list">
      
        
          <li class="pure-menu-item ">
            <a class="pure-menu-link" href="../..">Ractive.js</a>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">Get Started</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/hello-world/">Hello, world!</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/nested-properties/">Nested Properties</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/expressions/">Expressions</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/events/">Events</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/conditional-sections/">Conditional Sections</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/iterative-sections/">Iterative Sections</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/two-way-binding/">Two-way Binding</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/partials/">Partials</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/triples-embedded-html/">Triples (Embedded HTML)</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/components/">Components</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/animation/">Animations</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/svg/">SVG</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/transitions/">Transitions</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/decorators/">Decorators</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/support/">Support</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/migrating/">Migrating</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">API</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/initialization-options/">Initialization Options</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/static-properties/">Static Properties</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/static-methods/">Static Methods</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/instance-properties/">Instance Properties</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/instance-methods/">Instance Methods</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/context-object/">Context Object</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/parse-object/">Parse Object</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/transition-object/">Transition Object</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/directives/">Directives</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/references/">References</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-selected">
              <span class="pure-menu-link">Extend</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../adaptors/">Adaptors</a>
                  </li>
                
                  <li class="pure-menu-item pure-menu-selected">
                    <a class="pure-menu-link" href="./">Components</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../decorators/">Decorators</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../easings/">Easings</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../events/">Events</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../interpolators/">Interpolators</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../partials/">Partials</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../transitions/">Transitions</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">Integrations</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/component-files/">Component Files</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/loaders/">Loaders</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/plugins/">Plugins</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/tools/">Tools</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/libraries/">Libraries</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">Concepts</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../concepts/architecture/">Architecture</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../concepts/data-management/">Data Management</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../concepts/event-management/">Event Management</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../concepts/templates/">Templates</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../concepts/rendering/">Rendering</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../concepts/security/">Security</a>
                  </li>
                
              </ul>
          </li>
        
      
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="https://github.com/ractivejs/ractive">Github</a>
      </li>
      <li class="pure-menu-item">
        <label class="pure-menu-link search-toggle" for="search-state">Search</label>
      </li>
    </ul>
  </div>
</div>

  <div class="search-modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <label class="close-search" for="search-state" aria-role="close">&times;</label>
    <input type="text" class="search-field" placeholder="Search..." id="mkdocs-search-query">
    <div id="mkdocs-search-results"></div>
  </div>

  <script src="//cdn.jsdelivr.net/g/jquery@3.2.1,highlight.js@9.11.0"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="../../static/js/index.js"></script>
  <script>var base_url = '../..';</script>
  <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
</body>

</html>