<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="RactiveJS contributors"> 
    <link rel="canonical" href="https://ractive.js.org/extend/partials/"> 
    <link rel="shortcut icon" href="../../img/favicon.ico">

    <title>Partials - Ractive.js</title>

    <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../../css/base.css" rel="stylesheet">
    <link href="../../css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/highlight.css">


    <link href="../../css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../..">Ractive.js</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Started <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../..">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../get-started/60-second-setup/">60-second Setup</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Examples</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../get-started/examples/analog-clock/">Analog Clock</a>
</li>

        
            
<li >
    <a href="../../get-started/examples/animated-chart/">Animated Chart</a>
</li>

        
            
<li >
    <a href="../../get-started/examples/comments/">Comments</a>
</li>

        
            
<li >
    <a href="../../get-started/examples/donut-chart/">Donut Chart</a>
</li>

        
            
<li >
    <a href="../../get-started/examples/illustration/">Illustration</a>
</li>

        
            
<li >
    <a href="../../get-started/examples/rating-stars/">Rating Sars</a>
</li>

        
            
<li >
    <a href="../../get-started/examples/todo-list/">ToDo List</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../get-started/debugging/">Debugging</a>
</li>

                        
                            
<li >
    <a href="../../get-started/support/">Support</a>
</li>

                        
                            
<li >
    <a href="../../get-started/contributing/">Contributing</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../api/initialization-options/">Initialization Options</a>
</li>

                        
                            
<li >
    <a href="../../api/static-properties/">Static Properties</a>
</li>

                        
                            
<li >
    <a href="../../api/static-methods/">Static Methods</a>
</li>

                        
                            
<li >
    <a href="../../api/instance-properties/">Instance Properties</a>
</li>

                        
                            
<li >
    <a href="../../api/instance-methods/">Instance Methods</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Helper Objects</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../api/helper-objects/node-info/">Node Info</a>
</li>

        
            
<li >
    <a href="../../api/helper-objects/parse/">Parse</a>
</li>

        
            
<li >
    <a href="../../api/helper-objects/transition/">Transition</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../api/errors/">Errors</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Integrations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../integrations/loaders/">Loaders</a>
</li>

                        
                            
<li >
    <a href="../../integrations/plugins/">Plugins</a>
</li>

                        
                            
<li >
    <a href="../../integrations/tools/">Tools</a>
</li>

                        
                            
<li >
    <a href="../../integrations/libraries/">Libraries</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extend <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../adaptors/">Adaptors</a>
</li>

                        
                            
<li >
    <a href="../components/">Components</a>
</li>

                        
                            
<li >
    <a href="../decorators/">Decorators</a>
</li>

                        
                            
<li >
    <a href="../easings/">Easings</a>
</li>

                        
                            
<li >
    <a href="../events/">Events</a>
</li>

                        
                            
<li >
    <a href="../interpolators/">Interpolators</a>
</li>

                        
                            
<li class="active">
    <a href="./">Partials</a>
</li>

                        
                            
<li >
    <a href="../transitions/">Transitions</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Architecture</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../concepts/architecture/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../concepts/architecture/parser/">Parser</a>
</li>

        
            
<li >
    <a href="../../concepts/architecture/model/">Model</a>
</li>

        
            
<li >
    <a href="../../concepts/architecture/view/">View</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Data Binding</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../concepts/data-binding/array-modification/">Array Modification</a>
</li>

        
            
<li >
    <a href="../../concepts/data-binding/computed-properties/">Computed Properties</a>
</li>

        
            
<li >
    <a href="../../concepts/data-binding/dependents/">Dependents</a>
</li>

        
            
<li >
    <a href="../../concepts/data-binding/magic-mode/">Magic Mode</a>
</li>

        
            
<li >
    <a href="../../concepts/data-binding/observers/">Observers</a>
</li>

        
            
<li >
    <a href="../../concepts/data-binding/parallel-dom/">Parallel DOM</a>
</li>

        
            
<li >
    <a href="../../concepts/data-binding/two-way-binding/">Two-Way Binding</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Events</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../concepts/events/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../concepts/events/bubbling/">Bubbling</a>
</li>

        
            
<li >
    <a href="../../concepts/events/directives/">Directives</a>
</li>

        
            
<li >
    <a href="../../concepts/events/method-calls/">Method Calls</a>
</li>

        
            
<li >
    <a href="../../concepts/events/proxy-events/">Proxy Events</a>
</li>

        
            
<li >
    <a href="../../concepts/events/publish-subscribe/">Publish-Subscribe</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Rendering</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../concepts/rendering/progressive-enhancement/">Progressive Enhancement</a>
</li>

        
            
<li >
    <a href="../../concepts/rendering/server-side-rendering/">Server-Side Rendering</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Security</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../concepts/security/csp/">CSP</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Templates</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../concepts/templates/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/elements/">Elements</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/expressions/">Expressions</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/keypaths/">Keypaths</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/mustaches/">Mustaches</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/parsing/">Parsing</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/pre-parsing/">Pre-Parsing</a>
</li>

        
            
<li >
    <a href="../../concepts/templates/references/">References</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../articles/introducing-ractive-js/">Introducing Ractive.js</a>
</li>

                        
                            
<li >
    <a href="../../articles/the-origins-of-ractive/">The Origins Of Ractive</a>
</li>

                        
                            
<li >
    <a href="../../articles/ractive-js-expressions-and-the-new-wave-of-reactive-programming/">Ractive.js Expressions And The New Wave Of Reactive Programming</a>
</li>

                        
                            
<li >
    <a href="../../articles/ractive-vs-angular/">Ractive.js vs Angular</a>
</li>

                        
                            
<li >
    <a href="../../articles/ractive-vs-react/">Ractive.js vs React</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../interpolators/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../transitions/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/ractivejs/ractive">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="first-level active"><a href="#partials">Partials</a></li>
        
            <li class="second-level"><a href="#writing">Writing</a></li>
            
        
            <li class="second-level"><a href="#registering">Registering</a></li>
            
                <li class="third-level"><a href="#globally-via-the-ractivepartials-static-property">Globally via the Ractive.partials static property.</a></li>
            
                <li class="third-level"><a href="#globally-via-a-non-executing-script-tag-on-the-current-page">Globally, via a non-executing script tag on the current page.</a></li>
            
                <li class="third-level"><a href="#per-component-via-the-components-partials-initialization-property">Per component, via the component's partials initialization property.</a></li>
            
                <li class="third-level"><a href="#per-instance-via-the-instances-partials-initialization-property">Per instance, via the instance's partials initialization property.</a></li>
            
                <li class="third-level"><a href="#inline-using-the-partial-mustache">Inline, using the {{#partial}} mustache.</a></li>
            
        
            <li class="second-level"><a href="#using">Using</a></li>
            
                <li class="third-level"><a href="#valid-names">Valid names</a></li>
            
                <li class="third-level"><a href="#partial-context">Partial context</a></li>
            
                <li class="third-level"><a href="#recursive-partials">Recursive partials</a></li>
            
                <li class="third-level"><a href="#injecting-partials">Injecting partials</a></li>
            
                <li class="third-level"><a href="#partial-expressions">Partial expressions</a></li>
            
                <li class="third-level"><a href="#updating-partials">Updating Partials</a></li>
            
        
            <li class="second-level"><a href="#examples">Examples</a></li>
            
        
    
    </ul>
</div></div>
        <div class="col-md-9" role="main">

<h1 id="partials">Partials</h1>
<p>A partial is a template snippet which can be reused in templates or in other partials. They help to keep templates uncluttered, non-repetetive and easy to read.</p>
<h2 id="writing">Writing</h2>
<pre><code class="html">Ractive.partials.myPartial = '&lt;!-- template --&gt;';
</code></pre>

<p>Partials are simply Ractive templates.</p>
<h2 id="registering">Registering</h2>
<p>Unlike other plugins, partials have more than 3 registration options.</p>
<h3 id="globally-via-the-ractivepartials-static-property">Globally via the <code>Ractive.partials</code> static property.</h3>
<pre><code class="js">Ractive.partials.myPartial = MyPartial;
</code></pre>

<h3 id="globally-via-a-non-executing-script-tag-on-the-current-page">Globally, via a non-executing script tag on the current page.</h3>
<pre><code class="html">&lt;script type=&quot;ractive/template&quot; id=&quot;myPartial&quot;&gt;
  ...
&lt;/script&gt;
</code></pre>

<p><code>text/html</code> is another good choice for <code>type</code> because many editors will highlight the content of the tag as HTML. Anything other than <code>text/javascript</code>, <code>application/javascript</code>, or no <code>type</code> at all will do.</p>
<h3 id="per-component-via-the-components-partials-initialization-property">Per component, via the component's <code>partials</code> initialization property.</h3>
<pre><code class="js">const MyComponent = Ractive.extend({
  events: {
    myPartial: myPartial
  }
});
</code></pre>

<h3 id="per-instance-via-the-instances-partials-initialization-property">Per instance, via the instance's <code>partials</code> initialization property.</h3>
<pre><code class="js">const ractive = new Ractive({
  events: {
    myPartial: myPartial
  }
});
</code></pre>

<h3 id="inline-using-the-partial-mustache">Inline, using the <code>{{#partial}}</code> mustache.</h3>
<p>Availability depends on whoever uses the template containing the inline partial, whether it's a component, an instance or another partial. Inline partials are scoped to the nearest tag, be it component or element, and are available to any child of that element.</p>
<pre><code>{{#partial myPartial}}
  ...
{{/}}
</code></pre>

<h2 id="using">Using</h2>
<p>Partials can be used using the <code>{{&gt;partialName}}</code> syntax. Partials work where any template would work. It works as if the partial template is manually put into where the partial mustache is positioned.</p>
<pre><code class="html">{{#partial myPartial}}
  &lt;div class=&quot;message&quot;&gt;{{message}}&lt;/div&gt;
{{/}}

&lt;div class=&quot;app&quot;&gt;
  {{&gt;myPartial}}
&lt;/div&gt;
</code></pre>

<h3 id="valid-names">Valid names</h3>
<p>Partials may be named with the same rules as any other identifier in Ractive or JavaScript, but since there isn't much danger of trying to do math in a partial name, they enjoy relaxed naming requirements that allow otherwise reserved globals and keywords to be used for partial names.</p>
<p>Partial names may also contain <code>-</code> and <code>/</code> characters as long as they are surrounded by other valid characters e.g. <code>templates/some-partial-template</code>.</p>
<h3 id="partial-context">Partial context</h3>
<p>By default, a partial's context is the context of wherever it is positioned.</p>
<p>In the following example, the context of the partial is the current item in the list.</p>
<pre><code class="html">{{#partial myPartial}}
  {{this}}
{{/}}

{{# list }}
  {{&gt;myPartial}}
{{/}}

</code></pre>

<p>However, partials may be given explicit context using the <code>{{&gt;[name expression] [context expression]}}</code> syntax. It's similar to wrapping the partial with a <code>{{#with}}</code> mustache. Ancestor references, members, object literals, and any other expressions that resolve to an object may be used as a context expression.</p>
<p>In the following example, context of the partial is the current item's <code>foo.bar</code> value.</p>
<pre><code class="html">{{#partial myPartial}}
  {{this}}
{{/}}

{{# list }}
  {{&gt;myPartial .foo.bar}}
{{/}}
</code></pre>

<p>Explicit contexts can also be aliased. In the case of plain refereces, it can be used for two-way binding.</p>
<p>In the following example, the current item's <code>foo.bar</code> path is aliased with <code>item</code>. In the partial, <code>.label</code> refers to the current item's <code>label</code> property. However, <code>item</code> is essentially the current item's <code>{{.foo.bar.item}}</code>. The <code>item</code> binds two-way and updates the current item's <code>.foo.bar</code>.</p>
<pre><code class="html">{{#partial myPartial}}
  &lt;label&gt;{{.label}}&lt;/label&gt;
  &lt;input type=&quot;text&quot; value=&quot;{{item}}&quot;&gt;
{{/}}

{{# list }}
  {{&gt;myPartial .foo.bar as item}}
{{/}}
</code></pre>

<h3 id="recursive-partials">Recursive partials</h3>
<p>Partials can be used recursively. A common use case for this is when reusing partials on a tree-like structure, like a directory listing.</p>
<pre><code class="html">&lt;div class='fileSystem'&gt;
  {{#root}}
    {{&gt;folder}}
  {{/root}}
&lt;/div&gt;

{{#partial folder}}
&lt;ul class='folder'&gt;
  {{#files}}
    {{&gt;file}}
  {{/files}}
&lt;/ul&gt;
{{/partial}}

{{#partial file}}
&lt;li class='file'&gt;
  &lt;img class='icon-{{type}}'&gt;
  &lt;span&gt;{{filename}}&lt;/span&gt;

  &lt;!-- if this is actually a folder, embed the folder partial --&gt;
  {{# type === 'folder' }}
    {{&gt;folder}}
  {{/ type === 'folder' }}
&lt;/li&gt;
{{/partial}}
</code></pre>

<pre><code class="js">rv = new Ractive({
  el: 'container',
  template: '#myTemplate',
  data: {
    root: {
      files: [
        { type: 'jpg', filename: 'hello.jpg' },
        { type: 'mp3', filename: 'NeverGonna.mp3' },
        { type: 'folder', filename: 'subfolder', files: [
          { type: 'txt', filename: 'README.txt' },
          { type: 'folder', filename: 'rabbithole', files: [
            { type: 'txt', filename: 'Inception.txt' }
          ]}
        ]}
      ]
    }
  }
});
</code></pre>

<p>In the example above, subfolders use the <code>{{&gt;folder}}</code> partial, which uses the <code>{{&gt;file}}</code> partial for each file, and if any of those files are folders, the <code>{{&gt;folder}}</code> partial will be invoked again, and so on until there are no more files.</p>
<p>Beware of cyclical data structures! Ractive makes no attempt to detect cyclicality, and will happily continue rendering partials until the <a href="http://en.wikipedia.org/wiki/Big_Crunch">Big Crunch</a> (or your browser exceeds its maximum call stack size. Whichever is sooner).</p>
<h3 id="injecting-partials">Injecting partials</h3>
<p>One good use of partials is to vary the shape of a template according to some condition, the same way you might use <a href="http://en.wikipedia.org/wiki/Dependency_injection">dependency injection</a> elsewhere in your code.</p>
<p>For example, you might offer a different view to mobile users:</p>
<pre><code class="html">&lt;div class='main'&gt;
  &lt;div class='content'&gt;
    {{&gt;content}}
  &lt;/div&gt;

  &lt;div class='sidebar'&gt;
    {{&gt;sidebar}}
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">isMobile = /mobile/i.test( navigator.userAgent ); // please don't do this in real life!

ractive = new Ractive({
  el: myContainer,
  template: myTemplate,
  partials: {
    content: isMobile ? mobileContentPartial : desktopContentPartial,
    sidebar: isMobile ? mobileSidebarPartial : desktopSidebarPartial
  }
});
</code></pre>

<p>Or you might make it possible to <a href="../components/">extend</a> a subclass without overriding its template:</p>
<pre><code class="html">&lt;div class='modal-background'&gt;
  &lt;div class='modal'&gt;
    {{&gt;modalContent}}
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">// Create a Modal subclass
Modal = Ractive.extend({
  template: modalTemplate,
  init: function () {
    var self = this, resizeHandler;

    resizeHandler = function () {
      self.center();
    };

    // when the window resizes, keep the modal horizontally and vertically centred
    window.addEventListener( 'resize', resizeHandler );

    // clean up after ourselves later
    this.on( 'teardown', function () {
      window.removeEventListener( 'resize', resizeHandler );
    });

    // manually call this.center() the first time
    this.center();
  },
  center: function () {
    // centering logic goes here
  }
});

helloModal = new Modal({
  el: document.body,
  partials: {
    modalContent: '&lt;p&gt;Hello!&lt;/p&gt;&lt;a class=&quot;modal-button&quot; proxy-tap=&quot;close&quot;&gt;Close&lt;/a&gt;'
  }
});

helloModal.on( 'close', function () {
  this.teardown();
});
</code></pre>

<h3 id="partial-expressions">Partial expressions</h3>
<p>Expressions can also be used to reference a partial instead of fixed partial names. Ractive will evaluate the expression and use its return value to select a partial. This is useful when you want the data to indicate what type of partial it should render with.</p>
<p>In the following example, <code>organisms</code> contains a list of organisms whose <code>type</code> can either be <code>person</code> or <code>animal</code>. Partials for each type is defined and the list uses the <code>type</code> of each item to determine which partial to use.</p>
<pre><code class="html">{{#partial person}}Hi! I am {{.name}} and I have {{.fingerCount}} fingers!{{/}}

{{#partial animal}}Hi! I am a {{.name}} and I have {{.legCount}} legs!{{/}}

&lt;ul&gt;
  {{# organisms }}
    &lt;li&gt;{{&gt; type }}&lt;/li&gt;
  {{/}}
&lt;/ul&gt;
</code></pre>

<p>In the case where there's a collision between the expression and a partial of the same name, Ractive will not evaluate the expression and instead, will immediately resolve to that partial.</p>
<p>In the following example, a partial named <code>type</code> is defined. Instead of evaluating <code>type</code>'s value, it will resolve to the partial named <code>type</code>.</p>
<pre><code class="html">{{#partial person}}Hi! I am {{.name}} and I have {{.fingerCount}} fingers!{{/}}

{{#partial animal}}Hi! I am a {{.name}} and I have {{.legCount}} legs!{{/}}

{{#partial type}}Hi! I am {{.name}}{{/}}

&lt;ul&gt;
  {{# organisms }}
    &lt;li&gt;{{&gt; type }}&lt;/li&gt;
  {{/}}
&lt;/ul&gt;
</code></pre>

<p>Partials can also be registered on-the-fly as well as have functions determine the partial to use.</p>
<p>In the following example, <code>makePartial</code> registers a partial on the fly using <code>template</code> and <code>id</code>, and returns the partial name for use in the template.</p>
<pre><code class="js">new Ractive({
  el: 'main',
  template: `
    &lt;span&gt;Add a partial:&lt;/span&gt;
    &lt;textarea value=&quot;{{tpl}}&quot; /&gt;&lt;/div&gt;
    &lt;button on-click=&quot;@this.add()&quot;&gt;Add&lt;/button&gt;&lt;br/&gt;

    {{#list}}
      {{&gt; @this.makePartial(.id, .template) }}
    {{/}}
  `,
  data: {
    list: [],
    tpl: '',

  },
  add: function() {
    this.push('list', {
      id: Math.random(),
      template: this.get('tpl')
    });
    this.set('tpl', '');
  },
  makePartial: function(id, template) {
    const name = 'partial-' + id;
    this.partials[name] = this.partials[name] || template;
    return name;
  }
});
</code></pre>

<h3 id="updating-partials">Updating Partials</h3>
<p>Partials may be reset after they are rendered using <a href="../../api/instance-methods/#ractive.resetPartial()"><code>ractive.resetPartial()</code></a>. A reset partial will update everywhere it is referenced, so if it is used multiple times or inherited by a component, those instances will be updated as well. If a component has a partial with the same name as a parent partial, partial resets will not affect it since it is a different partial.</p>
<p>It should be noted that partials evaluate lazily, so it is possible to cause a single partial to update by wrapping it in a conditional section and causing the section to be hidden and re-shown.</p>
<pre><code class="html">{{^toggle}}{{&gt;rickroll}}{{/}}
</code></pre>

<pre><code class="js">ractive.partials.rickroll = 'I wouldn\'t do that to you, chum.';
ractive.set('toggle', true);
ractive.set('toggle', false);
</code></pre>

<h2 id="examples">Examples</h2>
<p>Here's an example of a gallery using a partial for its thumbnail information:</p>
<pre><code class="html">&lt;!-- The partial called &quot;thumbnail&quot; --&gt;
&lt;figure class='thumbnail'&gt;
  &lt;img src='assets/thumbnails/{{id}}.jpg'&gt;
  &lt;figcaption&gt;{{description}}&lt;/figcaption&gt;
&lt;/figure&gt;

&lt;!-- The template that uses the partial --&gt;
&lt;div class='gallery'&gt;
  {{#items}}
    {{&gt;thumbnail}}
  {{/items}}
&lt;/div&gt;
</code></pre></div>
        
    </div>

    <footer class="col-md-12 text-center">
        <hr>
        <p>
        <small>©RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.<br></small>
        
        <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p></small>
    </footer>

    <script src="../../js/jquery-1.10.2.min.js"></script>
    <script src="../../js/bootstrap-3.0.3.min.js"></script>
    <script src="../../js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '../..';
    </script>
    <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
    <script src="../../js/base.js"></script>
    <script src="../../js/index.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
