<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Next-generation DOM manipulation">
  

  
  <link rel="author" href="RactiveJS contributors">
  <link rel="canonical" href="https://ractive.js.org">

  <title>Ractive.js</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Voltaire">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/g/highlight.js@9.11.0(styles/default.min.css),pure@0.6.2(pure-min.css+grids-responsive-min.css)">
  <link rel="stylesheet" href="../../theme.css">

  <link rel="stylesheet" href="/static/css/index.css">

  
</head>

<body>
  <input class="menu-state" type="checkbox" name="menu-state" id="menu-state">
  <label class="menu-toggle" for="menu-state"></label>

  <div class="nav-side pure-menu pure-menu-fixed pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="../..">Ractive.js</a>
      </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Get Started</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/hello-world/">Hello, world!</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/nested-properties/">Nested Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/expressions/">Expressions</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/conditional-sections/">Conditional Sections</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/iterative-sections/">Iterative Sections</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/two-way-binding/">Two-way Binding</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/partials/">Partials</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/triples-embedded-html/">Triples (Embedded HTML)</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/components/">Components</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/animation/">Animations</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/svg/">SVG</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/transitions/">Transitions</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/decorators/">Decorators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/support/">Support</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/migrating/">Migrating</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">API</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/initialization-options/">Initialization Options</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/static-properties/">Static Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/static-methods/">Static Methods</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/instance-properties/">Instance Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/instance-methods/">Instance Methods</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/attributes/">Attributes</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/keypath-prefixes/">Keypath Prefixes</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/special-references/">Special References</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/context/">Context Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/parse/">Parse</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/transition/">Transition</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item pure-menu-selected">
        <a class="pure-menu-link pure-menu-heading" href="">Extend</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../adaptors/">Adaptors</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../components/">Components</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../decorators/">Decorators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../easings/">Easings</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../interpolators/">Interpolators</a>
        </li>
      
        <li class="pure-menu-item pure-menu-selected">
          <a class="pure-menu-link" href="./">Partials</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../transitions/">Transitions</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Integrations</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/component-files/">Component Files</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/loaders/">Loaders</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/plugins/">Plugins</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/tools/">Tools</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/libraries/">Libraries</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Concepts</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/architecture/">Architecture</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/rendering/">Rendering</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/security/">Security</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/data-binding/">Data Binding</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../concepts/templates/">Templates</a>
        </li>
      
      </li>
    
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/ractivejs/ractive">Github</a>
    </li>
  </ul>
</div>

  <div class="main">
    <div class="main__header">
      <div class="nav-main pure-menu pure-menu-horizontal pure-menu-fixed">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-6"></div>
    <div class="pure-u-1 pure-u-lg-2-3">
      <ul class="pure-menu-list">
        
          
            <li class="pure-menu-item ">
              <a class="pure-menu-link" href="../..">Ractive.js</a>
            </li>
          
        
          
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
                <span class="pure-menu-link">Get Started</span>
                <ul class="pure-menu-children">
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/hello-world/">Hello, world!</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/nested-properties/">Nested Properties</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/expressions/">Expressions</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/events/">Events</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/conditional-sections/">Conditional Sections</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/iterative-sections/">Iterative Sections</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/two-way-binding/">Two-way Binding</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/partials/">Partials</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/triples-embedded-html/">Triples (Embedded HTML)</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/components/">Components</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/animation/">Animations</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/svg/">SVG</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/transitions/">Transitions</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/tutorials/decorators/">Decorators</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/support/">Support</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../get-started/migrating/">Migrating</a>
                    </li>
                  
                </ul>
            </li>
          
        
          
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
                <span class="pure-menu-link">API</span>
                <ul class="pure-menu-children">
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/initialization-options/">Initialization Options</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/static-properties/">Static Properties</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/static-methods/">Static Methods</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/instance-properties/">Instance Properties</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/instance-methods/">Instance Methods</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/attributes/">Attributes</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/keypath-prefixes/">Keypath Prefixes</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/special-references/">Special References</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/context/">Context Object</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/parse/">Parse</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/transition/">Transition</a>
                    </li>
                  
                </ul>
            </li>
          
        
          
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-selected">
                <span class="pure-menu-link">Extend</span>
                <ul class="pure-menu-children">
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../adaptors/">Adaptors</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../components/">Components</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../decorators/">Decorators</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../easings/">Easings</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../events/">Events</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../interpolators/">Interpolators</a>
                    </li>
                  
                    <li class="pure-menu-item pure-menu-selected">
                      <a class="pure-menu-link" href="./">Partials</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../transitions/">Transitions</a>
                    </li>
                  
                </ul>
            </li>
          
        
          
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
                <span class="pure-menu-link">Integrations</span>
                <ul class="pure-menu-children">
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../api/component-files/">Component Files</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../integrations/loaders/">Loaders</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../integrations/plugins/">Plugins</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../integrations/tools/">Tools</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../integrations/libraries/">Libraries</a>
                    </li>
                  
                </ul>
            </li>
          
        
          
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
                <span class="pure-menu-link">Concepts</span>
                <ul class="pure-menu-children">
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../concepts/architecture/">Architecture</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../concepts/rendering/">Rendering</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../concepts/security/">Security</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../concepts/data-binding/">Data Binding</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../concepts/events/">Events</a>
                    </li>
                  
                    <li class="pure-menu-item ">
                      <a class="pure-menu-link" href="../../concepts/templates/">Templates</a>
                    </li>
                  
                </ul>
            </li>
          
        
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="https://github.com/ractivejs/ractive">Github</a>
        </li>
      </ul>
    </div>
  </div>
</div>
    </div>
    <div class="main__page">
      
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-6"></div>
    <div class="pure-u-1 pure-u-lg-2-3">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-4">
          <div class="main__sidebar">
            <div class="toc pure-menu pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item pure-menu-selected">
        <a class="pure-menu-link pure-menu-heading" href="#partials">Partials</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="#writing">Writing</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="#registering">Registering</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="#using">Using</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="#examples">Examples</a>
        </li>
      
      </li>
    
  </ul>
</div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-3-4">
          <div class="main__content">
            <h1 id="partials">Partials</h1>
<p>A partial is a template snippet which can be reused in templates or in other partials. They help to keep templates uncluttered, non-repetetive and easy to read.</p>
<h2 id="writing">Writing</h2>
<pre><code class="js">const myPartial = '&lt;!-- template --&gt;';
</code></pre>

<p>Partials are simply Ractive templates.</p>
<h2 id="registering">Registering</h2>
<p>Unlike other plugins, partials have more than 3 registration options.</p>
<h3 id="globally-via-the-ractivepartials-static-property">Globally via the <code>Ractive.partials</code> static property.</h3>
<pre><code class="js">Ractive.partials.myPartial = MyPartial;
</code></pre>

<h3 id="globally-via-a-non-executing-script-tag-on-the-current-page">Globally, via a non-executing script tag on the current page.</h3>
<pre><code class="html">&lt;script type=&quot;ractive/template&quot; id=&quot;myPartial&quot;&gt;
  ...
&lt;/script&gt;
</code></pre>

<p><code>text/html</code> is another good choice for <code>type</code> because many editors will highlight the content of the tag as HTML. Anything other than <code>text/javascript</code>, <code>application/javascript</code>, or no <code>type</code> at all will do.</p>
<h3 id="per-component-via-the-components-partials-initialization-property">Per component, via the component's <code>partials</code> initialization property.</h3>
<pre><code class="js">const MyComponent = Ractive.extend({
  partials: { myPartial }
});
</code></pre>

<h3 id="per-instance-via-the-instances-partials-initialization-property">Per instance, via the instance's <code>partials</code> initialization property.</h3>
<pre><code class="js">const ractive = new Ractive({
  partials: { myPartial }
});
</code></pre>

<h3 id="inline-using-the-partial-mustache">Inline, using the <code>{{#partial}}</code> mustache.</h3>
<p>Availability depends on whoever uses the template containing the inline partial, whether it's a component, an instance or another partial. Inline partials are scoped to the nearest tag, be it component or element, and are available to any child of that element.</p>
<pre><code>{{#partial myPartial}}
  ...
{{/}}
</code></pre>

<h2 id="using">Using</h2>
<p>Partials can be used using the <code>{{&gt;partialName}}</code> syntax. Partials work where any template would work. It works as if the partial template is manually put into where the partial mustache is positioned.</p>
<pre><code class="html">{{#partial myPartial}}
  &lt;div class=&quot;message&quot;&gt;{{message}}&lt;/div&gt;
{{/}}

&lt;div class=&quot;app&quot;&gt;
  {{&gt;myPartial}}
&lt;/div&gt;
</code></pre>

<h3 id="valid-names">Valid names</h3>
<p>Partials may be named with the same rules as any other identifier in Ractive or JavaScript, but since there isn't much danger of trying to do math in a partial name, they enjoy relaxed naming requirements that allow otherwise reserved globals and keywords to be used for partial names.</p>
<p>Partial names may also contain <code>-</code> and <code>/</code> characters as long as they are surrounded by other valid characters e.g. <code>templates/some-partial-template</code>.</p>
<h3 id="partial-context">Partial context</h3>
<p>By default, a partial's context is the context of wherever it is positioned.</p>
<p>In the following example, the context of the partial is the current item in the list.</p>
<pre><code class="html">{{#partial myPartial}}
  {{this}}
{{/}}

{{# list }}
  {{&gt;myPartial}}
{{/}}

</code></pre>

<p>However, partials may be given explicit context using the <code>{{&gt;[name expression] [context expression]}}</code> syntax. It's similar to wrapping the partial with a <code>{{#with}}</code> mustache. Ancestor references, members, object literals, and any other expressions that resolve to an object may be used as a context expression.</p>
<p>In the following example, context of the partial is the current item's <code>foo.bar</code> value.</p>
<pre><code class="html">{{#partial myPartial}}
  {{this}}
{{/}}

{{# list }}
  {{&gt;myPartial .foo.bar}}
{{/}}
</code></pre>

<p>Explicit contexts can also be aliased. In the case of plain refereces, it can be used for two-way binding.</p>
<p>In the following example, the current item's <code>foo.bar</code> path is aliased with <code>item</code>. In the partial, <code>.label</code> refers to the current item's <code>label</code> property. However, <code>item</code> is essentially the current item's <code>{{.foo.bar.item}}</code>. The <code>item</code> binds two-way and updates the current item's <code>.foo.bar</code>.</p>
<pre><code class="html">{{#partial myPartial}}
  &lt;label&gt;{{.label}}&lt;/label&gt;
  &lt;input type=&quot;text&quot; value=&quot;{{item}}&quot;&gt;
{{/}}

{{# list }}
  {{&gt;myPartial .foo.bar as item}}
{{/}}
</code></pre>

<h3 id="recursive-partials">Recursive partials</h3>
<p>Partials can be used recursively. A common use case for this is when reusing partials on a tree-like structure, like a directory listing.</p>
<pre><code class="html">&lt;div class='fileSystem'&gt;
  {{#root}}
    {{&gt;folder}}
  {{/root}}
&lt;/div&gt;

{{#partial folder}}
&lt;ul class='folder'&gt;
  {{#files}}
    {{&gt;file}}
  {{/files}}
&lt;/ul&gt;
{{/partial}}

{{#partial file}}
&lt;li class='file'&gt;
  &lt;img class='icon-{{type}}'&gt;
  &lt;span&gt;{{filename}}&lt;/span&gt;

  &lt;!-- if this is actually a folder, embed the folder partial --&gt;
  {{# type === 'folder' }}
    {{&gt;folder}}
  {{/ type === 'folder' }}
&lt;/li&gt;
{{/partial}}
</code></pre>

<pre><code class="js">rv = new Ractive({
  el: 'container',
  template: '#myTemplate',
  data: {
    root: {
      files: [
        { type: 'jpg', filename: 'hello.jpg' },
        { type: 'mp3', filename: 'NeverGonna.mp3' },
        { type: 'folder', filename: 'subfolder', files: [
          { type: 'txt', filename: 'README.txt' },
          { type: 'folder', filename: 'rabbithole', files: [
            { type: 'txt', filename: 'Inception.txt' }
          ]}
        ]}
      ]
    }
  }
});
</code></pre>

<p>In the example above, subfolders use the <code>{{&gt;folder}}</code> partial, which uses the <code>{{&gt;file}}</code> partial for each file, and if any of those files are folders, the <code>{{&gt;folder}}</code> partial will be invoked again, and so on until there are no more files.</p>
<p>Beware of cyclical data structures! Ractive makes no attempt to detect cyclicality, and will happily continue rendering partials until the <a href="http://en.wikipedia.org/wiki/Big_Crunch">Big Crunch</a> (or your browser exceeds its maximum call stack size. Whichever is sooner).</p>
<h3 id="injecting-partials">Injecting partials</h3>
<p>One good use of partials is to vary the shape of a template according to some condition, the same way you might use <a href="http://en.wikipedia.org/wiki/Dependency_injection">dependency injection</a> elsewhere in your code.</p>
<p>For example, you might offer a different view to mobile users:</p>
<pre><code class="html">&lt;div class='main'&gt;
  &lt;div class='content'&gt;
    {{&gt;content}}
  &lt;/div&gt;

  &lt;div class='sidebar'&gt;
    {{&gt;sidebar}}
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">isMobile = /mobile/i.test( navigator.userAgent ); // please don't do this in real life!

ractive = new Ractive({
  el: myContainer,
  template: myTemplate,
  partials: {
    content: isMobile ? mobileContentPartial : desktopContentPartial,
    sidebar: isMobile ? mobileSidebarPartial : desktopSidebarPartial
  }
});
</code></pre>

<p>Or you might make it possible to <a href="../components/">extend</a> a subclass without overriding its template:</p>
<pre><code class="html">&lt;div class='modal-background'&gt;
  &lt;div class='modal'&gt;
    {{&gt;modalContent}}
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<pre><code class="js">// Create a Modal subclass
Modal = Ractive.extend({
  template: modalTemplate,
  init: function () {
    var self = this, resizeHandler;

    resizeHandler = function () {
      self.center();
    };

    // when the window resizes, keep the modal horizontally and vertically centred
    window.addEventListener( 'resize', resizeHandler );

    // clean up after ourselves later
    this.on( 'teardown', function () {
      window.removeEventListener( 'resize', resizeHandler );
    });

    // manually call this.center() the first time
    this.center();
  },
  center: function () {
    // centering logic goes here
  }
});

helloModal = new Modal({
  el: document.body,
  partials: {
    modalContent: '&lt;p&gt;Hello!&lt;/p&gt;&lt;a class=&quot;modal-button&quot; proxy-tap=&quot;close&quot;&gt;Close&lt;/a&gt;'
  }
});

helloModal.on( 'close', function () {
  this.teardown();
});
</code></pre>

<h3 id="partial-expressions">Partial expressions</h3>
<p>Expressions can also be used to reference a partial instead of fixed partial names. Ractive will evaluate the expression and use its return value to select a partial. This is useful when you want the data to indicate what type of partial it should render with.</p>
<p>In the following example, <code>organisms</code> contains a list of organisms whose <code>type</code> can either be <code>person</code> or <code>animal</code>. Partials for each type is defined and the list uses the <code>type</code> of each item to determine which partial to use.</p>
<pre><code class="html">{{#partial person}}Hi! I am {{.name}} and I have {{.fingerCount}} fingers!{{/}}

{{#partial animal}}Hi! I am a {{.name}} and I have {{.legCount}} legs!{{/}}

&lt;ul&gt;
  {{# organisms }}
    &lt;li&gt;{{&gt; type }}&lt;/li&gt;
  {{/}}
&lt;/ul&gt;
</code></pre>

<p>In the case where there's a collision between the expression and a partial of the same name, Ractive will not evaluate the expression and instead, will immediately resolve to that partial.</p>
<p>In the following example, a partial named <code>type</code> is defined. Instead of evaluating <code>type</code>'s value, it will resolve to the partial named <code>type</code>.</p>
<pre><code class="html">{{#partial person}}Hi! I am {{.name}} and I have {{.fingerCount}} fingers!{{/}}

{{#partial animal}}Hi! I am a {{.name}} and I have {{.legCount}} legs!{{/}}

{{#partial type}}Hi! I am {{.name}}{{/}}

&lt;ul&gt;
  {{# organisms }}
    &lt;li&gt;{{&gt; type }}&lt;/li&gt;
  {{/}}
&lt;/ul&gt;
</code></pre>

<p>Partials can also be registered on-the-fly as well as have functions determine the partial to use.</p>
<p>In the following example, <code>makePartial</code> registers a partial on the fly using <code>template</code> and <code>id</code>, and returns the partial name for use in the template.</p>
<pre><code class="js">new Ractive({
  el: 'main',
  template: `
    &lt;span&gt;Add a partial:&lt;/span&gt;
    &lt;textarea value=&quot;{{tpl}}&quot; /&gt;&lt;/div&gt;
    &lt;button on-click=&quot;@this.add()&quot;&gt;Add&lt;/button&gt;&lt;br/&gt;

    {{#list}}
      {{&gt; @this.makePartial(.id, .template) }}
    {{/}}
  `,
  data: {
    list: [],
    tpl: '',

  },
  add: function() {
    this.push('list', {
      id: Math.random(),
      template: this.get('tpl')
    });
    this.set('tpl', '');
  },
  makePartial: function(id, template) {
    const name = 'partial-' + id;
    this.partials[name] = this.partials[name] || template;
    return name;
  }
});
</code></pre>

<h3 id="updating-partials">Updating Partials</h3>
<p>Partials may be reset after they are rendered using <a href="../../api/instance-methods/#ractiveresetpartial"><code>ractive.resetPartial()</code></a>. A reset partial will update everywhere it is referenced, so if it is used multiple times or inherited by a component, those instances will be updated as well. If a component has a partial with the same name as a parent partial, partial resets will not affect it since it is a different partial.</p>
<p>It should be noted that partials evaluate lazily, so it is possible to cause a single partial to update by wrapping it in a conditional section and causing the section to be hidden and re-shown.</p>
<pre><code class="html">{{^toggle}}{{&gt;rickroll}}{{/}}
</code></pre>

<pre><code class="js">ractive.partials.rickroll = 'I wouldn\'t do that to you, chum.';
ractive.set('toggle', true);
ractive.set('toggle', false);
</code></pre>

<h2 id="examples">Examples</h2>
<p>Here's an example of a gallery using a partial for its thumbnail information:</p>
<pre><code class="html">&lt;!-- The partial called &quot;thumbnail&quot; --&gt;
&lt;figure class='thumbnail'&gt;
  &lt;img src='assets/thumbnails/{{id}}.jpg'&gt;
  &lt;figcaption&gt;{{description}}&lt;/figcaption&gt;
&lt;/figure&gt;

&lt;!-- The template that uses the partial --&gt;
&lt;div class='gallery'&gt;
  {{#items}}
    {{&gt;thumbnail}}
  {{/items}}
&lt;/div&gt;
</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
    <div class="main__footer">
      <div class="page-controls">
  <a class="page-controls__link" rel="edit" href="https://github.com/ractivejs/ractivejs.github.io/edit/dev/docs/extend/partials.md" target="_blank">Edit this page</a>
</div>

<div class="badges">
  <a href="https://gitter.im/ractivejs/ractive"><img src="https://img.shields.io/gitter/room/ractivejs/ractive.svg?style=flat-square" alt="Gitter chat"></a>
  <a href="https://www.npmjs.com/package/ractive"><img src="https://img.shields.io/npm/v/ractive.svg?style=flat-square" alt="npm version"></a>
  <a href="https://david-dm.org/RactiveJS/Ractive#info=devDependencies"><img src="https://img.shields.io/david/dev/ractivejs/ractive.svg?style=flat-square" alt="devDependency Status"></a>
  <a href="https://travis-ci.org/ractivejs/ractive"><img src="https://img.shields.io/travis/ractivejs/ractive/dev.svg?style=flat-square" alt="Build Status"></a>
  <a href="https://coveralls.io/github/ractivejs/ractive?branch=dev"><img src="https://img.shields.io/coveralls/ractivejs/ractive/dev.svg?style=flat-square" alt="Coverage Status"></a>
  <a href="https://www.npmjs.com/package/ractive"><img src="https://img.shields.io/npm/dm/ractive.svg?style=flat-square" alt="npm downloads"></a>
  <a href="https://twitter.com/ractivejs"><img src="https://img.shields.io/twitter/follow/ractivejs.svg?style=flat-square" alt="Twitter Follow"></a>
</div>

<p class="credits">©RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.</p>
    </div>
  </div>

  <script src="//cdn.jsdelivr.net/g/jquery@3.2.1,highlight.js@9.11.0"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="../../static/js/index.js"></script>
</body>

</html>