/* colors */
.navbar-default {
  background-color: #557526;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #384e19;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  background-color: #384e19;
}

.navbar-default .dropdown-menu {
  background-color: #517125;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav .dropdown-submenu:hover {
  background-color: #476320;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #384e19;
}

.navbar-default .dropdown-menu>li>a:hover, .navbar-default .dropdown-menu>.active>a, .navbar-default .dropdown-menu>.active>a:hover {
  background-color: #384e19;
}

.dropdown-submenu > .dropdown-menu li:first-child a {
  -webkit-border-radius: 0px 6px 0px 0px;
  -moz-border-radius: 0px 6px 0px 0px;
  border-radius: 0px 6px 0px 0px;
}

.dropdown-submenu > .dropdown-menu li:last-child a {
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

.dropdown-submenu > .dropdown-menu li:only-child a {
  -webkit-border-radius: 0px 6px 6px 6px;
  -moz-border-radius: 0px 6px 6px 6px;
  border-radius: 0px 6px 6px 6px;
}

code {
  white-space: pre-wrap;
  color: #050;
}

blockquote {
  background-color: #f9fcf6;
  border-left: 2px solid #729d34;
  color: #222;
}
blockquote p {
  font-size: 16px;
}

pre, code {
  background-color: rgba(0,0,0,0.015);
}

div.tutorial {
  float: right;
}

button {
  background-color: #888;
  color: #fff;
  font-weight: 500;
  padding: 0.25em 1em;
  border-radius: 0.2em;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 0.25em;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 0px transparent;
}
button:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #999;
}
button:active {
  box-shadow: 0px 0px 0px transparent;
  background-color: #777;
}

.footer-nav {
  text-align: center;
}
.footer-nav a {
  margin: 0 6vw;
}

/* playground stuff */
#playground-div {
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 10;
}
#playground-div.min {
  overflow: hidden;
}

#playground-div > iframe {
  border: 0;
  position: absolute;
  top: 1.5em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 1.5em);
}
#playground-div.min > iframe {
  display: none;
}
#playground-div > span {
  margin-right: 1em;
  cursor: pointer;
  color: rgba(114, 157, 42, 0.5);
  transition: color 0.2s ease-in-out;
}
#playground-div > span:hover {
  color: #729d34;
}
#playground-div.max > span.up-btn,
#playground-div.min > span.down-btn {
  display: none;
}
#playground-div.min > span.up-btn {
  margin-left: 0.75em;
}

#main {
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  position: absolute;
  height: calc(100% - 54px);
  width: 100%;
  overflow: auto;
  top: 54px;
}

div.run-in-playground {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.2s ease-in-out;
  font-size: 1.6em;
  font-weight: 700;
}
div.run-in-playground:hover {
  color: #000;
}

@media (min-width: 992px) {
  .bs-sidebar.affix {
    max-height: calc(100% - 100px);
    overflow-y: auto;
    height: auto;
    top: 115px;
  }
  #main.mid .bs-sidebar.affix {
    max-height: calc(50vh - 100px);
    top: 115px;
  }
  #main.min .bs-sidebar.affix {
    max-height: calc(15vh - 100px);
    top: 115px;
  }
}

@media (max-width: 991px) {
  .bs-sidebar.affix {
    max-height: calc(50vh - 3em);
    overflow: auto;
    margin-top: 15px;
  }
}

@media (max-width: 1199.99px) {
  #playground-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
  }
  #playground-div.min {
    height: 1.5em;
    width: 2.5em;
    left: calc(100% - 5em);
    border-radius: 1em 1em 0 0;
    transition: none;
  }
  #playground-div.mid {
    height: 50vh;
  }
  #playground-div.max {
    height: calc(100vh - 54px);
  }

  #main.max {
  }
  #main.mid {
    height: calc(50vh - 54px);
    overflow: auto;
  }
  #main.min {
    height: 0;
    overflow: auto;
  }
}

@media (min-width: 1200px) {
  .bs-sidebar.affix {
    top: 69px;
  }

  #playground-div {
    position: absolute;
    right: 0;
    height: calc(100% - 54px);
    top: 54px;
  }
  #playground-div.max {
    width: 50%;
  }

  #playground-div.mid {
    width: 50%;
  }
  #playground-div.mid #expand-playground {
    display: none;
  }
  #playground-div.mid #collapse-playground {
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 0.5em;
  }

  #playground-div.min {
    transition: none;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3em;
    height: 1.5em;
    width: 2.5em;
    border-radius: 1em 1em 0 0;
  }
  #playground-div.min > span {
    transform: rotate(-90deg);
    display: inline-block;
  }

  #main {
    height: calc(100% - 54px);
  }

  #main.max {
  }

  #main.mid {
    width: 50%;
  }

  #main.mid .container {
    width: 100%;
  }
  #main.mid [role=main] {
    width: 100%;
  }
  #main.mid [role=subnav] {
    display: none;
  }

  #main.min {
  }
}

@media (min-width: 1600px) {
  #playground-div.mid {
    width: 60%;
  }

  #main.mid {
    width: 40%;
  }
}

@media (max-width: 1199.9px) and (min-width: 768px) {
  #playground-div.max {
    height: calc(100% - 100px);
  }

  #main {
    height: calc(100% - 100px);
    top: 99px;
  }
  #main.mid {
    height: calc(50vh - 100px);
  }
  #main.min {
    height: 0;
  }
}

@media (max-width: 768px) {
  #playground-div.max {
    height: calc(100% - 54px);
  }
  #main {
    height: calc(100% - 54px);
    top: 54px;
  }
  #main.mid {
    height: calc(50vh - 54px);
  }
  #main.min {
    height: calc(15vh - 54px);
  }
}

/* Not entirely sure why the built-in bootstrap doesn't have this */
img{
  max-width: 100%;
}
