/* colors */
.navbar-default {
  background-color: #557526;
  border-bottom: 1px solid #ebf2f2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #384e19;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  background-color: #384e19;
}

.navbar-default .dropdown-menu {
  background-color: #517125;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav .dropdown-submenu:hover {
  background-color: #476320;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #384e19;
}

.navbar-default .dropdown-menu>li>a:hover, .navbar-default .dropdown-menu>.active>a, .navbar-default .dropdown-menu>.active>a:hover {
  background-color: #384e19;
}

.dropdown-submenu > .dropdown-menu li:first-child a {
  -webkit-border-radius: 0px 6px 0px 0px;
  -moz-border-radius: 0px 6px 0px 0px;
  border-radius: 0px 6px 0px 0px;
}

.dropdown-submenu > .dropdown-menu li:last-child a {
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

.dropdown-submenu > .dropdown-menu li:only-child a {
  -webkit-border-radius: 0px 6px 6px 6px;
  -moz-border-radius: 0px 6px 6px 6px;
  border-radius: 0px 6px 6px 6px;
}

.bs-sidenav {
  font-size: 14px;
}

.bs-sidebar{
  display:  none;
}

@media screen and (min-width: 992px){
  .bs-sidebar{
    display: block;
    position: relative;
    top: 25px;
  }
  .bs-sidebar.affix{
    position: relative
  }
}

.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
  border-color: #557526;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a{
  border-right: 4px solid #557526;
  border-radius: 2px;
}

h1, h2 {
  font-weight: 100;
}

a {
  color: #222;
}
a:hover, a:focus {
  color: #384e19;
}

code {
  white-space: pre-wrap;
  color: #050;
}

blockquote {
  background-color: #f9fcf6;
  border-left: 2px solid #729d34;
  color: #222;
}
blockquote p {
  font-size: 16px;
}

pre, code {
  background-color: rgba(0,0,0,0.015);
}

div.tutorial {
  float: right;
}

button {
  background-color: #888;
  color: #fff;
  font-weight: 500;
  padding: 0.25em 1em;
  border-radius: 0.2em;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 0.25em;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 0px transparent;
}
button:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #999;
}
button:active {
  box-shadow: 0px 0px 0px transparent;
  background-color: #777;
}

.footer-nav {
  text-align: center;
}
.footer-nav a {
  margin: 0 6%;
}

footer hr {
  margin: 0.2em auto;
}

/* index stuff */
#logo {
  text-align: center;
  margin: 2em auto 1em;
}

#logo .name {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 200;
  vertical-align: bottom;
}

#logo .slogan {
  display: inline-block;
  vertical-align: bottom;
  width: 9em;
  height: 2.5em;
  text-align: left;
  font-size: 0.8em;
  font-weight: 300;
  color: #999;
}

#cdn {
  font-size: 1.5em;
  text-align: center;
  color: #999;
  margin-bottom: 1em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fcfcfc;
  position: relative;
}

#cdn:before, #cdn:after {
  content: '';
  position: absolute;
  top: -1px;
  width: 1em;
  height: calc(100% + 2px);
}
#cdn:before {
  left: 0;
  background: linear-gradient(90deg, #fff, transparent);
}
#cdn:after {
  right: 0;
  background: linear-gradient(270deg, #fff, transparent);
}

#cdn .url {
  color: #729d33;
}

#info-blocks {
  margin-bottom: 1em;
}

#badges + p {
  text-align: center;
}

@media (max-width: 740px) {
  #cdn .fluff {
    display: none;
  }
}

@media (max-width: 480px) {
  #logo .name {
    font-size: 1.5em;
  }
  #logo .slogan {
    width: 100%;
    font-size: 0.5em;
    text-align: center;
  }

  #cdn {
    font-size: 0.8em;
  }

  #logo, #cdn, #info-blocks {
    margin-bottom: 0.5em;
  }
}

/* playground stuff */
#playground-div {
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 10;
}
#playground-div.min {
  overflow: hidden;
}

#playground-div > iframe {
  border: 0;
  position: absolute;
  top: 1.5em;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 1.5em);
}
#playground-div.min > iframe {
  display: none;
}
#playground-div > span {
  margin-right: 1em;
  cursor: pointer;
  color: rgba(114, 157, 42, 0.5);
  transition: color 0.2s ease-in-out;
}
#playground-div > span:hover {
  color: #729d34;
}
#playground-div.max > span.up-btn,
#playground-div.min > span.down-btn {
  display: none;
}
#playground-div.min > span.up-btn {
  margin-left: 0.75em;
}

#main {
  transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
  position: absolute;
  height: calc(100% - 44px);
  width: 100%;
  overflow: auto;
  top: 44px;
}

div.run-in-playground {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  transition: color 0.2s ease-in-out;
  font-size: 1.6em;
  font-weight: 700;
}
div.run-in-playground:hover {
  color: #000;
}

@media (max-width: 1199.99px) {
  #playground-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
  }
  #playground-div.min {
    height: 1.5em;
    width: 2.5em;
    left: calc(100% - 5em);
    border-radius: 1em 1em 0 0;
    transition: none;
  }
  #playground-div.mid {
    height: 55vh;
  }
  #playground-div.max {
    height: calc(100vh - 44px);
  }

  #main.max {
  }
  #main.mid {
    height: calc(45vh - 44px);
    overflow: auto;
  }
  #main.min {
    height: 0;
    overflow: auto;
  }
}

@media (min-width: 1200px) {

  #playground-div {
    position: absolute;
    right: 0;
    height: calc(100% - 44px);
    top: 44px;
  }
  #playground-div.max {
    width: 50%;
  }

  #playground-div.mid {
    width: 50%;
  }
  #playground-div.mid #expand-playground {
    display: none;
  }
  #playground-div.mid #collapse-playground {
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 0.5em;
  }

  #playground-div.min {
    transition: none;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 3em;
    height: 1.5em;
    width: 2.5em;
    border-radius: 1em 1em 0 0;
  }
  #playground-div.min > span {
    transform: rotate(-90deg);
    display: inline-block;
  }

  #main {
    height: calc(100% - 44px);
  }

  #main.max {
  }

  #main.mid {
    width: 50%;
  }

  #main.mid .container {
    width: 100%;
  }
  #main.mid [role=main] {
    width: 100%;
  }
  #main.mid [role=subnav] {
    display: none;
  }

  #main.min {
  }
}

@media (min-width: 1600px) {
  #playground-div.mid {
    width: 60%;
  }

  #main.mid {
    width: 40%;
  }
}

@media (max-width: 1199.9px) and (min-width: 768px) {
  #playground-div.max {
    height: calc(100% - 90px);
  }

  #main {
    height: calc(100% - 90px);
    top: 90px;
  }
  #main.mid {
    height: calc(45vh - 90px);
  }
  #main.min {
    height: 0;
  }
}

@media (max-width: 768px) {
  #playground-div.max {
    height: calc(100% - 44px);
  }
  #main {
    height: calc(100% - 44px);
    top: 44px;
  }
  #main.mid {
    height: calc(45vh - 44px);
  }
  #main.min {
    height: calc(15vh - 44px);
  }
}

/* Not entirely sure why the built-in bootstrap doesn't have this */
img {
  max-width: 100%;
}
