<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="RactiveJS contributors"> 
    <link rel="canonical" href="https://ractive.js.org/get-started/tutorials/partials/"> 
    <link rel="shortcut icon" href="../../../img/favicon.ico">
    <meta name="theme-color" content="#557526">

    <title>Partials - Ractive.js</title>

    <link href="../../../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../../../css/base.css" rel="stylesheet">
    <link href="../../../css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/highlight.css">


    <link href="../../../css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../../..">Ractive.js</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Started <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../..">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../60-second-setup/">60-second Setup</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Learn</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../hello-world/">Hello, world!</a>
</li>

        
            
<li >
    <a href="../nested-properties/">Nested Properties</a>
</li>

        
            
<li >
    <a href="../expressions/">Expressions</a>
</li>

        
            
<li >
    <a href="../events/">Events</a>
</li>

        
            
<li >
    <a href="../conditional-sections/">Conditional Sections</a>
</li>

        
            
<li >
    <a href="../iterative-sections/">Iterative Sections</a>
</li>

        
            
<li >
    <a href="../two-way-binding/">Two-way Binding</a>
</li>

        
            
<li class="active">
    <a href="./">Partials</a>
</li>

        
            
<li >
    <a href="../triples-embedded-html/">Triples (Embedded HTML)</a>
</li>

        
            
<li >
    <a href="../components/">Components</a>
</li>

        
            
<li >
    <a href="../animation/">Animations</a>
</li>

        
            
<li >
    <a href="../svg/">SVG</a>
</li>

        
            
<li >
    <a href="../transitions/">Transitions</a>
</li>

        
            
<li >
    <a href="../decorators/">Decorators</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Examples</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../examples/analog-clock/">Analog Clock</a>
</li>

        
            
<li >
    <a href="../../examples/animated-chart/">Animated Chart</a>
</li>

        
            
<li >
    <a href="../../examples/comments/">Comments</a>
</li>

        
            
<li >
    <a href="../../examples/donut-chart/">Donut Chart</a>
</li>

        
            
<li >
    <a href="../../examples/illustration/">Illustration</a>
</li>

        
            
<li >
    <a href="../../examples/rating-stars/">Rating Sars</a>
</li>

        
            
<li >
    <a href="../../examples/todo-list/">ToDo List</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../debugging/">Debugging</a>
</li>

                        
                            
<li >
    <a href="../../support/">Support</a>
</li>

                        
                            
<li >
    <a href="../../contributing/">Contributing</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../api/initialization-options/">Initialization Options</a>
</li>

                        
                            
<li >
    <a href="../../../api/static-properties/">Static Properties</a>
</li>

                        
                            
<li >
    <a href="../../../api/static-methods/">Static Methods</a>
</li>

                        
                            
<li >
    <a href="../../../api/instance-properties/">Instance Properties</a>
</li>

                        
                            
<li >
    <a href="../../../api/instance-methods/">Instance Methods</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Helper Objects</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../api/helper-objects/node-info/">Node Info</a>
</li>

        
            
<li >
    <a href="../../../api/helper-objects/parse/">Parse</a>
</li>

        
            
<li >
    <a href="../../../api/helper-objects/transition/">Transition</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../../api/attributes/">Attributes</a>
</li>

                        
                            
<li >
    <a href="../../../api/keypath-prefixes/">Keypath Prefixes</a>
</li>

                        
                            
<li >
    <a href="../../../api/special-references/">Special References</a>
</li>

                        
                            
<li >
    <a href="../../../api/component-files/">Component Files</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extend <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../extend/adaptors/">Adaptors</a>
</li>

                        
                            
<li >
    <a href="../../../extend/components/">Components</a>
</li>

                        
                            
<li >
    <a href="../../../extend/decorators/">Decorators</a>
</li>

                        
                            
<li >
    <a href="../../../extend/easings/">Easings</a>
</li>

                        
                            
<li >
    <a href="../../../extend/events/">Events</a>
</li>

                        
                            
<li >
    <a href="../../../extend/interpolators/">Interpolators</a>
</li>

                        
                            
<li >
    <a href="../../../extend/partials/">Partials</a>
</li>

                        
                            
<li >
    <a href="../../../extend/transitions/">Transitions</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Integrations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../integrations/loaders/">Loaders</a>
</li>

                        
                            
<li >
    <a href="../../../integrations/plugins/">Plugins</a>
</li>

                        
                            
<li >
    <a href="../../../integrations/tools/">Tools</a>
</li>

                        
                            
<li >
    <a href="../../../integrations/libraries/">Libraries</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Architecture</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../concepts/architecture/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../../concepts/architecture/parser/">Parser</a>
</li>

        
            
<li >
    <a href="../../../concepts/architecture/model/">Model</a>
</li>

        
            
<li >
    <a href="../../../concepts/architecture/view/">View</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Data Binding</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../concepts/data-binding/computed-properties/">Computed Properties</a>
</li>

        
            
<li >
    <a href="../../../concepts/data-binding/dependents/">Dependents</a>
</li>

        
            
<li >
    <a href="../../../concepts/data-binding/observers/">Observers</a>
</li>

        
            
<li >
    <a href="../../../concepts/data-binding/parallel-dom/">Parallel DOM</a>
</li>

        
            
<li >
    <a href="../../../concepts/data-binding/two-way-binding/">Two-Way Binding</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Events</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../concepts/events/overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../../concepts/events/bubbling/">Bubbling</a>
</li>

        
            
<li >
    <a href="../../../concepts/events/directives/">Directives</a>
</li>

        
            
<li >
    <a href="../../../concepts/events/method-calls/">Method Calls</a>
</li>

        
            
<li >
    <a href="../../../concepts/events/proxy-events/">Proxy Events</a>
</li>

        
            
<li >
    <a href="../../../concepts/events/publish-subscribe/">Publish-Subscribe</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Rendering</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../concepts/rendering/progressive-enhancement/">Progressive Enhancement</a>
</li>

        
            
<li >
    <a href="../../../concepts/rendering/server-side-rendering/">Server-Side Rendering</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Security</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../concepts/security/csp/">CSP</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Templates</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../concepts/templates/elements/">Elements</a>
</li>

        
            
<li >
    <a href="../../../concepts/templates/expressions/">Expressions</a>
</li>

        
            
<li >
    <a href="../../../concepts/templates/keypaths/">Keypaths</a>
</li>

        
            
<li >
    <a href="../../../concepts/templates/mustaches/">Mustaches</a>
</li>

        
            
<li >
    <a href="../../../concepts/templates/parsing/">Parsing</a>
</li>

        
            
<li >
    <a href="../../../concepts/templates/references/">References</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../articles/introducing-ractive-js/">Introducing Ractive.js</a>
</li>

                        
                            
<li >
    <a href="../../../articles/the-origins-of-ractive/">The Origins Of Ractive</a>
</li>

                        
                            
<li >
    <a href="../../../articles/ractive-js-expressions-and-the-new-wave-of-reactive-programming/">Ractive.js Expressions And The New Wave Of Reactive Programming</a>
</li>

                        
                            
<li >
    <a href="../../../articles/ractive-vs-angular/">Ractive.js vs Angular</a>
</li>

                        
                            
<li >
    <a href="../../../articles/ractive-vs-react/">Ractive.js vs React</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../two-way-binding/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../triples-embedded-html/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/ractivejs/ractive">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <div id="main">
        <div class="container">
            
            <div class="col-md-3" role="subnav"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="first-level active"><a href="#partials">Partials</a></li>
        
            <li class="second-level"><a href="#step-1">Step 1</a></li>
            
        
            <li class="second-level"><a href="#step-2">Step 2</a></li>
            
        
            <li class="second-level"><a href="#step-3">Step 3</a></li>
            
        
            <li class="second-level"><a href="#step-4">Step 4</a></li>
            
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h1 id="partials">Partials</h1>
<p>Partials are a good way to split complex templates up into several more manageable chunks. They also allow re-use of bits of template without having to repeat the template.</p>
<h2 id="step-1">Step 1</h2>
<p>Take this todo list, for example. It's not too bad, but the template would look neater if we could separate out the code for an individual item. Well, we can. Add this above the rest of the JavaScript:</p>
<pre><code class="js">var item = &quot;&lt;li class='{{ done ? \&quot;done\&quot; : \&quot;pending\&quot; }}'&gt;&quot; +
             &quot;&lt;input type='checkbox' checked='{{done}}'&gt;&quot; +
             &quot;&lt;span class='description' on-tap='edit'&gt;&quot; +
               &quot;{{description}}&quot; +

               &quot;{{#if editing}}&quot; +
                 &quot;&lt;input class='edit' &quot; +
                          &quot;value='{{description}}' &quot; +
                          &quot;on-blur='stop_editing'&gt;&quot; +
               &quot;{{/if}}&quot; +
             &quot;&lt;/span&gt;&quot; +
             &quot;&lt;a class='button' on-tap='remove'&gt;x&lt;/a&gt;&quot; +
           &quot;&lt;/li&gt;&quot;;
</code></pre>

<p>Then, in the main template we replace all that with a partial, which looks like a regular mustache but with a <code>&gt;</code> character:</p>
<pre><code class="handlebars">&lt;ul class='todos'&gt;
  {{#each items:i}}
    {{&gt;item}}
  {{/each}}
&lt;/ul&gt;
</code></pre>

<p>Finally, we need to add the partial when we initialize out instance:</p>
<pre><code class="js">var ractive = new Ractive({
  template: template,
  partials: { item: item },
  // etc...
});
</code></pre>

<p>Execute this code.</p>
<h2 id="step-2">Step 2</h2>
<p>Fine, except that multiline string was fugly. It's good to know that you can pass partials in as strings, but unless you're loading those strings from a template file with AJAX, you'd probably prefer a neater way.</p>
<p>There are two. Firstly, you can add partials as <code>&lt;script&gt;</code> tags on the page:</p>
<pre><code class="handlebars">&lt;script id='item' type='text/html'&gt;
&lt;li class='{{ done ? &quot;done&quot; : &quot;pending&quot; }}'&gt;
  &lt;input type='checkbox' checked='{{done}}'&gt;
  &lt;span class='description' on-tap='edit'&gt;
    {{description}}

    {{#if editing}}
      &lt;input class='edit'
             value='{{description}}'
             on-blur='stop_editing'&gt;
    {{/if}}
  &lt;/span&gt;
  &lt;a class='button' on-tap='remove'&gt;x&lt;/a&gt;
&lt;/li&gt;
&lt;/script&gt;
</code></pre>

<blockquote>
<p>Note that the <code>id</code> attribute is the name of the partial, and that the <code>type</code> attribute is <code>text/html</code> (though it could be anything, as long as it's not <code>text/javascript</code>). This is a convenient way to quickly test ideas out on a blank page (you can use these script tags as main templates as well as partials - just reference them as e.g. <code>'#myTemplate'</code> in your initialisation options).</p>
</blockquote>
<p>Or, you can use an <em>inline partial</em>. Inline partials are declared within your template, using the <code>{{#partial myPartialName}}</code> syntax:</p>
<pre><code class="handlebars">{{#partial item}}
  &lt;li class='{{ done ? &quot;done&quot; : &quot;pending&quot; }}'&gt;
    &lt;input type='checkbox' checked='{{done}}'&gt;
    &lt;span on-tap='edit'&gt;
      {{description}}

      {{#if editing}}
        &lt;input class='edit' value='{{description}}' on-blur='stop_editing'&gt;
      {{/if}}
    &lt;/span&gt;
    &lt;a class='button' on-tap='remove'&gt;x&lt;/a&gt;
  &lt;/li&gt;
{{/partial}}
</code></pre>

<p>Add the partial to the template, and remove it (and the <code>var item = ...</code> bit) from the javascript code.</p>
<blockquote>
<p>In addition to supporting partial strings, Ractive.js will accept a pre-parsed template in the <code>partials</code> map, or as the <code>template</code> option, for that matter. Pre-parsed partials have the benefit of not requiring the parser at runtime, which means rendering can happen a bit faster - and you can ship a lighter-weight version of Ractive.js to the browser (see the runtime-only build).</p>
</blockquote>
<h2 id="step-3">Step 3</h2>
<p>That covers breaking templates into more manageable or logical chunks, so moving on to reuse, we'll grab our handy bag of contrivances and pull out... a formatted name. It's a bit simple, but it should suffice.</p>
<p>Suppose we have a webapp that deals with people, businesses, and the yachts that they own. All three of those happen to have names that we'll say are broken down in slightly different ways. A yacht just has a name. A business has a name and a potential classifier, like LLC. A person has a given name, a family name, any number of middle names, and a potential suffix. A yacht is also owned by a business or a person, which, as we've established, both have names. (We're gonna go ahead and pretend that most yacht owners don't have a corporate entity to hold their yachts.)</p>
<p>What we want to do is take our list of yachts with their various owners and display them in the table. Here's a partial that would work with each type of entity:</p>
<pre><code class="handlebars">{{#if .type === 'business'}}
  {{.name}}{{.classifier ? `, ${.classifier} : ''}}
{{elseif .type === 'yacht'}}
  {{name}}
{{else}}
  {{.familyName}}, {{.givenName}}{{.suffix ? ` ${.suffix}` : ''}}
{{/if}}
</code></pre>

<p>Now we want to use the partial for both the yacht and the owner, but the owner is a property of the yacht. We could use a <code>#with</code> block to set the context for the owner partial. It turns out that's a pretty common thing to need when working with complex apps with lots of partials, so Ractive.js has a sugared version of a partial that accepts a context after the partial name:</p>
<pre><code class="handlebars">{{&gt;name .owner}}
</code></pre>

<blockquote>
<p>This is roughly equivalent to <code>{{#with .owner}}{{&gt;name}}{{/with}}</code>, but not quite exactly the same. For reasons that will become clear in the next step, the <code>#with</code> portion of the partial with context is wrapped around the template of the partial and not the partial mustache itself.</p>
<p>If no context is supplied to a partial, then it inherits its context from its parent.</p>
<p>Partials may also set aliases instead of passing a context, which is convenient if there's more than one bit of data that needs to be uniform going into the partial. For instance <code>{{&gt;user .homePhone as phone, .workEmail as email}}</code> lets the caller of the partial specify what <code>{{phone}}</code> and <code>{{email}}</code> should mean inside the partial. Again, this is the rough equivalent of the similar <code>#with</code> construct, <code>{{#with .homePhone as phone, .workEmail as email}}{{&gt;user}}{{/with}}</code>.</p>
</blockquote>
<h2 id="step-4">Step 4</h2>
<p>That last contrivance was a bit stretched, so let's stretch it a bit further and see if it breaks. We want to future-proof our webapp in case some other type of entity should arise to be involved with our yachts. So we decide that we want to create a specific partial for each type of entity:</p>
<pre><code class="handlebars">{{#if .type === 'business'}}
  {{&gt;business-name}}
{{elseif .type === 'yacht'}}
  {{&gt;yacht-name}}
{{else}}
  {{&gt;person-name}}
{{/if}}
</code></pre>

<p>Perhaps that's a bit better, but it's not very expandable <em>or</em> pretty. As it turns out, the name given to a partial mustache may also be an expression that evaluates to a string. So we can go ahead and replace our wrapper-partial with something simple:</p>
<pre><code class="handlebars">{{&gt; `${.type}-name`}}
</code></pre>

<blockquote>
<p>When the expression evaluates, it will return a string, which will then be used to look up the appropriate partial in the registry. Partials check for a matching name before evaluating as an expression, so if you an expression that could also be a valid partial name, the partial name will be picked rather that the result of evaluating the expression. For example with partials named <code>user</code> and <code>larry</code> and a property <code>user: 'larry'</code>, <code>{{&gt;user}}</code> will use the <code>user</code> partial rather than the <code>larry</code> partial.</p>
</blockquote>
<p>Now when it turns out that we need to also keep up with buildings, that for our purposes include a street address in their name, we can do so easily by adding a new partial named <code>building-name</code>:</p>
<pre><code class="handlebars">{{.name}}, {{.address}}
</code></pre>

<p>I think that contrivance has snapped, possibly in more than one place, but hopefully it was served its purpose.</p></div>
            
        </div>

        <div class="footer-nav">
            <a rel="prev" href="../two-way-binding/">previous</a>
            <a rel="edit" href="https://github.com/ractivejs/ractivejs.github.io/edit/dev/docs/get-started/tutorials/partials.md" target="_blank">edit this page
            <a rel="next" href="../triples-embedded-html/">next</a>
        </div>

        <footer class="col-md-12 text-center">
            <hr>
            <p>
            <small>©RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.<br></small>
            
            <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p></small>
        </footer>
    </div>

    <script src="../../../js/jquery-1.10.2.min.js"></script>
    <script src="../../../js/bootstrap-3.0.3.min.js"></script>
    <script src="../../../js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '../../..';
    </script>
    <script data-main="../../../mkdocs/js/search.js" src="../../../mkdocs/js/require.js"></script>
    <script src="../../../js/base.js"></script>
    <script src="../../../js/index.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
