{% extends "base.html" %}

{% block page %}
  <div class="pure-g">
    <div class="main__left-gutter pure-u-1 pure-u-lg-1-6"></div>
    <div class="main__center-container pure-u-1 pure-u-lg-2-3">
      <div class="pure-g">
        <div class="main__sidebar-container pure-u-1 pure-u-md-1-4">
          <div class="main__sidebar">
            {% include "toc-main.html" %}
          </div>
        </div>
        <div class="main__content-container pure-u-1 pure-u-md-3-4">
          <div class="main__content">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
