.main--split{
  margin-bottom: 50vh;
}

.main__sidebar-container--hidden{
  display: none;
}

.run-it{
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: #777;
  color: white;
  border-radius: 5px;
  padding: 2px 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.run-it:active{
  background: #555;
}

.playground-toggle{
  position: fixed;
  bottom: 0;
  right: 15px;
  padding: 5px 15px;
  background: #729d34;
  color: #fff;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: bottom 0.4s;
}

.playground-toggle:hover{
  color: #eee;
}

.playground-toggle--open{
  bottom: 50%;
}

.playground-container{
  top: 100%;
  height: 50vh;
  transition: top 0.4s;
  position: fixed;
  width: 100%;
}

.playground-container--open{
  transition: top 0.4s;
  top: 50%;
  box-shadow: 5px 5px 30px #777;
}

.playground-frame{
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
}

/* playground pre should be relative */
[data-playground] ~ pre,
[data-runtutorial] ~ pre{
  position: relative
}

@media screen and (min-width: 768px){
  .main{
    transition: width 0.4s;
    width: 100%;
  }

  .main--split{
    width: 50%;
  }

  .playground-toggle{
    transition: right 0.4s;
    bottom: auto;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
    top: 100px;
  }

  .playground-toggle--open{
    right: 50%;
  }

  .playground-container{
    position: fixed;
    top: 40px;
    left: 100%;
    transition: left 0.4s;
    width: 50%;
    height: calc(100vh - 40px);
  }

  .playground-container--open{
    left: 50%;
  }
}
