<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="RactiveJS contributors"> 
    <link rel="canonical" href="https://ractive.js.org/Concepts/Templates/Expressions/"> 
    <link rel="shortcut icon" href="../../../img/favicon.ico">

    <title>Expressions - Ractive.js</title>

    <link href="../../../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../../../css/base.css" rel="stylesheet">
    <link href="../../../css/cinder.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/highlight.css">


    <link href="../../../css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->
            <a class="navbar-brand" href="../../..">Ractive.js</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Started <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../..">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../Get Started/60-Second Setup/">60-second setup</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Examples</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../Get Started/Examples/Analog Clock/">Analog Clock</a>
</li>

        
            
<li >
    <a href="../../../Get Started/Examples/Animated Chart/">Animated Chart</a>
</li>

        
            
<li >
    <a href="../../../Get Started/Examples/Comments/">Comments</a>
</li>

        
            
<li >
    <a href="../../../Get Started/Examples/Donut Chart/">Donut Chart</a>
</li>

        
            
<li >
    <a href="../../../Get Started/Examples/Illustration/">Illustration</a>
</li>

        
            
<li >
    <a href="../../../Get Started/Examples/Rating Stars/">Rating Stars</a>
</li>

        
            
<li >
    <a href="../../../Get Started/Examples/Todo List/">Todo List</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../../Get Started/Debugging/">Debugging</a>
</li>

                        
                            
<li >
    <a href="../../../Get Started/Support/">Support</a>
</li>

                        
                            
<li >
    <a href="../../../Get Started/Contributing/">Contributing</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">API <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../API/Initialization Options/">Initialization Options</a>
</li>

                        
                            
<li >
    <a href="../../../API/Static Properties/">Static Properties</a>
</li>

                        
                            
<li >
    <a href="../../../API/Static Methods/">Static Methods</a>
</li>

                        
                            
<li >
    <a href="../../../API/Instance Properties/">Instance Properties</a>
</li>

                        
                            
<li >
    <a href="../../../API/Instance Methods/">Instance Methods</a>
</li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Helper Objects</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../../API/Helper Objects/Node Info/">Node Info</a>
</li>

        
            
<li >
    <a href="../../../API/Helper Objects/Parse/">Parse</a>
</li>

        
            
<li >
    <a href="../../../API/Helper Objects/Transition/">Transition</a>
</li>

        
    </ul>
  </li>

                        
                            
<li >
    <a href="../../../API/Errors/">Errors</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Integrations <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../Integrations/Plugins/">Plugins</a>
</li>

                        
                            
<li >
    <a href="../../../Integrations/Tools/">Tools</a>
</li>

                        
                            
<li >
    <a href="../../../Integrations/Libraries/">Libraries</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extend <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../Extend/Adaptors/">Adaptors</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Components/">Components</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Decorators/">Decorators</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Easings/">Easings</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Events/">Events</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Interpolators/">Interpolators</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Partials/">Partials</a>
</li>

                        
                            
<li >
    <a href="../../../Extend/Transitions/">Transitions</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Concepts <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Architecture</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../Architecture/Overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../Architecture/Parser/">Parser</a>
</li>

        
            
<li >
    <a href="../../Architecture/Model/">Model</a>
</li>

        
            
<li >
    <a href="../../Architecture/View/">View</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Data Binding</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../Data Binding/Array Modification/">Array Modification</a>
</li>

        
            
<li >
    <a href="../../Data Binding/Computed Properties/">Computed Properties</a>
</li>

        
            
<li >
    <a href="../../Data Binding/Dependents/">Dependents</a>
</li>

        
            
<li >
    <a href="../../Data Binding/Magic Mode/">Magic Mode</a>
</li>

        
            
<li >
    <a href="../../Data Binding/Observers/">Observers</a>
</li>

        
            
<li >
    <a href="../../Data Binding/Parallel DOM/">Parallel DOM</a>
</li>

        
            
<li >
    <a href="../../Data Binding/Two-Way Binding/">Two-Way Binding</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Events</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../Events/Overview/">Overview</a>
</li>

        
            
<li >
    <a href="../../Events/Bubbling/">Bubbling</a>
</li>

        
            
<li >
    <a href="../../Events/Directives/">Directives</a>
</li>

        
            
<li >
    <a href="../../Events/Method Calls/">Method Calls</a>
</li>

        
            
<li >
    <a href="../../Events/Proxy Events/">Proxy Events</a>
</li>

        
            
<li >
    <a href="../../Events/Publish-Subscribe/">Publish-Subscribe</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Rendering</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../Rendering/Progressive Enhancement/">Progressive Enhancement</a>
</li>

        
            
<li >
    <a href="../../Rendering/Server-Side Rendering/">Server-Side Rendering</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Security</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../../Security/CSP/">CSP</a>
</li>

        
    </ul>
  </li>

                        
                            
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Templates</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../Overview/">Overview</a>
</li>

        
            
<li >
    <a href="../Elements/">Elements</a>
</li>

        
            
<li class="active">
    <a href="./">Expressions</a>
</li>

        
            
<li >
    <a href="../Keypaths/">Keypaths</a>
</li>

        
            
<li >
    <a href="../Mustaches/">Mustaches</a>
</li>

        
            
<li >
    <a href="../Parsing/">Parsing</a>
</li>

        
            
<li >
    <a href="../Pre-Parsing/">Pre-Parsing</a>
</li>

        
            
<li >
    <a href="../References/">References</a>
</li>

        
    </ul>
  </li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../Articles/introducing-ractive-js/">Introducing Ractive.js</a>
</li>

                        
                            
<li >
    <a href="../../../Articles/the-origins-of-ractive/">The Origins Of Ractive</a>
</li>

                        
                            
<li >
    <a href="../../../Articles/ractive-js-expressions-and-the-new-wave-of-reactive-programming/">Ractive.js expressions and the new wave of reactive programming</a>
</li>

                        
                            
<li >
    <a href="../../../Articles/ractive-vs-angular/">Ractive vs Angular</a>
</li>

                        
                            
<li >
    <a href="../../../Articles/ractive-vs-react/">Ractive vs React</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                
                    <li >
                        <a rel="next" href="../Elements/">
                            <i class="fa fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../Keypaths/">
                            Next <i class="fa fa-arrow-right"></i>
                        </a>
                    </li>
                
                
                    <li>
                        <a href="https://github.com/ractivejs/ractive">
                            
                                <i class="fa fa-github"></i>
                            
                            GitHub
                        </a>
                    </li>
                
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="first-level active"><a href="#frequently-used-expressions">Frequently Used Expressions</a></li>
        
    
        <li class="first-level "><a href="#valid-expressions">Valid expressions</a></li>
        
    
        <li class="first-level "><a href="#does-this-use-eval">Does this use eval?</a></li>
        
    
        <li class="first-level "><a href="#a-note-about-efficiency">A note about efficiency</a></li>
        
    
        <li class="first-level "><a href="#the-this-reference">The this reference</a></li>
        
    
        <li class="first-level "><a href="#supported-global-objects">Supported global objects</a></li>
        
    
        <li class="first-level "><a href="#functions">Functions</a></li>
        
    
        <li class="first-level "><a href="#functions-on-helper-objects-and-third-party-libraries">Functions on helper objects and third-party libraries</a></li>
        
    
    </ul>
</div></div>
        <div class="col-md-9" role="main">

<p>Expressions allow you to use logic within a template. At their simplest, that may just mean a basic arithmetic operation, such as converting to percentages, or making your <a href="">index references</a> start at 1 rather than 0:</p>
<pre><code class="html">&lt;div class='bar-chart'&gt;
  {{#bars:i}}
    &lt;div style='width: {{ value * 100 }}%;'&gt;{{ i + 1 }}&lt;/div&gt;
  {{/bars}}
&lt;/div&gt;
</code></pre>

<p>Or it could mean formatting a currency so that <code>1.79</code> renders as <code>£1.79p</code>:</p>
<pre><code class="html">&lt;p&gt;Price: &lt;strong&gt;{{ format( price ) }}&lt;/strong&gt;&lt;/p&gt;
</code></pre>

<p>Or it could mean adding a class based on some condition:</p>
<pre><code class="html">&lt;a class='button {{ active ? &quot;on&quot; : &quot;off&quot; }}'&gt;switch&lt;/a&gt;
</code></pre>

<p>Or it could mean filtering a list to exclude certain records:</p>
<pre><code class="html">&lt;ul&gt;
{{# exclude( list, 'N/A' ) }}
  &lt;li&gt;{{author}}: {{title}}&lt;/li&gt;
{{/ end of filter }}
&lt;/ul&gt;
</code></pre>

<p>These are all examples casually plucked from the air - whether they would be useful or not in real life depends on what you're trying to do. The point is that you can include more of your view logic at the declarative layer - the template - where it's easier to <em>reason about</em>.</p>
<h1 id="frequently-used-expressions">Frequently Used Expressions</h1>
<p>If you use a particular expression frequently, you can save time by adding it Ractive's default data. This way you won't have to set up the expressions on each individual <code>ractive</code> instance.</p>
<p>The example below adds expressions for some frequenlty used parts of <a href="http://momentjs.com/">moment.js</a> to the default data:</p>
<pre><code class="js">var helpers = Ractive.defaults.data;
helpers.fromNow = function(timeString){
    return moment(timeString).fromNow()
}
helpers.formatTime = function(timeString){
    return moment(timeString).format(&quot;ddd, h:mmA&quot;);
}
helpers.humanizeTime = function(timeString){
    return moment.duration(timeString).humanize();
}
</code></pre>

<h1 id="valid-expressions">Valid expressions</h1>
<p>These are, of course, JavaScript expressions. Almost any valid JavaScript expression can be used, with a few exceptions:</p>
<ul>
<li>No assignment operators (i.e. <code>a = b</code>, <code>a += 1</code>, <code>a--</code> and so on)</li>
<li>No <code>new</code>, <code>delete</code>, or <code>void</code> operators</li>
<li>No function literals (i.e. anything that involves the <code>function</code> keyword)</li>
</ul>
<p>Aside from a subset of global objects (e.g. <code>Math</code>, <code>Array</code>, <code>parseInt</code>, <code>encodeURIComponent</code> - full list below), any references must be to properties (however deeply nested) of the Ractive instance's data, rather than arbitrary variables. Reference resolution follows the <a href="">normal process</a>.</p>
<h1 id="does-this-use-eval">Does this use <code>eval</code>?</h1>
<p>Yes and no. You've probably read that 'eval is evil', or some other such nonsense. The truth is that while it does get abused, and can theoretically introduce security risks when user input gets involved, there are some situations where it's both necessary and sensible.</p>
<p>But repeatedly <code>eval</code>ing the same code is a performance disaster. Instead, we use the <code>Function</code> constructor, which is a form of <code>eval</code>, except that the code gets compiled once instead of every time it executes.</p>
<h1 id="a-note-about-efficiency">A note about efficiency</h1>
<p>Using the <code>Function</code> constructor instead of <code>eval</code> is just one way that Ractive optimises expressions. Consider a case like this:</p>
<pre><code class="html">{{a}} + {{b}} = {{ a + b }}
{{c}} + {{d}} = {{ c+d }}
</code></pre>

<p>At <em>parse time</em>, Ractive generates an <a href="http://en.wikipedia.org/wiki/Abstract_syntax_tree">abstract syntax tree</a> (AST) from these expressions, to verify that it's a valid expression and to extract any references that are used. It then 'stringifies' the AST, so that the expression can later be compiled into a function.</p>
<p>As anyone who has seen minified JavaScript can attest, JavaScript cares not one fig what your variables are called. It also doesn't care about whitespace. So both of the expressions can be stringified the same way:</p>
<pre><code class="js">&quot;_0+_1&quot;
</code></pre>

<p>When we <em>evaluate</em> <code>{{ a + b }}</code> or <code>{{ c+d }}</code>, we can therefore use the same function but with different arguments. Recognising this, the function only gets compiled once, after which it is cached. (The cache is shared between all Ractive instances on the page.) Further, the result of the evaluation is itself cached (until one or more of the dependencies change), so you can repeat expressions as often as you like without creating unnecessary work.</p>
<p>All of this means that you could have an expression within a list section that was repeated 10,000 times, and the corresponding function would be created once <em>at most</em>, and only called when necessary.</p>
<h1 id="the-this-reference">The <code>this</code> reference</h1>
<p>Within an expression, you can use <code>this</code> to refer to the current <em>context</em>:</p>
<pre><code class="html">&lt;ul&gt;
  {{#items}}
    &lt;!-- here, `this` means 'the current array member' --&gt;
    &lt;li&gt;{{this.toUpperCase()}}&lt;/li&gt;
  {{/items}}
&lt;/ul&gt;
</code></pre>

<p>In regular mustache, we have something called the <em>implicit iterator</em> - <code>{{.}}</code> - which does the same thing. Ractive allows you to use <code>this</code> in place of <code>.</code> for purely aesthetic reasons.</p>
<h1 id="supported-global-objects">Supported global objects</h1>
<ul>
<li><code>Array</code></li>
<li><code>Date</code></li>
<li><code>JSON</code></li>
<li><code>Math</code></li>
<li><code>NaN</code></li>
<li><code>RegExp</code></li>
<li><code>decodeURI</code></li>
<li><code>decodeURIComponent</code></li>
<li><code>encodeURI</code></li>
<li><code>encodeURIComponent</code></li>
<li><code>isFinite</code></li>
<li><code>isNaN</code></li>
<li><code>null</code></li>
<li><code>parseFloat</code></li>
<li><code>parseInt</code></li>
<li><code>undefined</code></li>
</ul>
<h1 id="functions">Functions</h1>
<p>Any functions that you want to call, outside of the available globals above, must be properties of the Ractive instance's data as well. Functions can also depend on other references and will be re-evaulated when one of their dependencies is changed.</p>
<p>Depedendencies are determined by capturing references in the viewmodel while the function is executing. Dependencies for functions are re-captured each time the function is executed.</p>
<pre><code class="html">&lt;p&gt;{{ formattedName() }}&lt;/p&gt;
</code></pre>

<pre><code class="js">var ractive = new Ractive({
  template: template,
  el: output,
  data: {
    user: { firstName: 'John', lastName: 'Public' },
    formattedName: function() {
      return this.get('user.lastName') + ', ' + this.get('user.firstName');
    }
  }
};
</code></pre>

<p>Result:</p>
<pre><code class="html">&lt;p&gt;Public, John&lt;/p&gt;
</code></pre>

<p>In this example, the function <code>formattedName</code> will depend on both <code>user.firstName</code> and <code>user.lastName</code>, and updating either (or <code>user</code>) will cause any expressions referencing <code>formattedName</code> to be re-evaluated as well.</p>
<pre><code class="js">ractive.set('user.firstName', 'Jane')
</code></pre>

<p>Result:</p>
<pre><code class="html">&lt;p&gt;Public, Jane&lt;/p&gt;
</code></pre>

<h1 id="functions-on-helper-objects-and-third-party-libraries">Functions on helper objects and third-party libraries</h1>
<p>You can also add helper objects to your data and call functions on those objects in expressions. For example, you could add a reference to <a href="http://underscorejs.org/">underscore.js</a>:</p>
<pre><code class="js">var ractive = new Ractive({
  template: template,
  el: output,
  data: {
    items: [ 2, 10, 200, 3, 1, 4],
    _: _
  }
};
</code></pre>

<p>And use that to sort an array in your template:</p>
<pre><code class="html">{{# _.sortBy(items) }}{{.}}, {{/}}

&lt;!-- Result: --&gt;
1, 2, 3, 4, 10, 200,
</code></pre></div>
        
    </div>

    <footer class="col-md-12 text-center">
        <hr>
        <p>
        <small>© RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.<br></small>
        
        <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</p></small>
    </footer>

    <script src="../../../js/jquery-1.10.2.min.js"></script>
    <script src="../../../js/bootstrap-3.0.3.min.js"></script>
    <script src="../../../js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '../../..';
    </script>
    <script data-main="../../../mkdocs/js/search.js" src="../../../mkdocs/js/require.js"></script>
    <script src="../../../js/base.js"></script>
    <script src="../../../js/index.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        From here you can search these documents. Enter your search terms below.
                    </p>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                        </div>
                    </form>
                    <div id="mkdocs-search-results"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    </body>

</html>
