body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #222;
}

div#main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  min-width: 400px;
}

div.ace-editor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.panel {
  position: relative;
  width: 100%;
  transition: height 0.2s ease-in-out;
}
div.panel.min {
  height: 3em;
}
div.panel.shared {
  height: 50%;
}
div.panel.primary {
  height: calc(100% - 3em);
}

div.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin: 1.5em;
}
div.card > h3 {
  color: #fff;
  background-color: #729d34;
  padding: 0.75em;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
div.card > .content {
  padding: 1em;
}

div.card label {
  display: inline-block;
}
div.card label > span {
  width: 10em;
  text-align: right;
  display: inline-block;
}
div.card label > input,
div.card label > select {
  width: 10em;
}
div.card label.full {
  display: block;
  width: 100%;
}
div.card label > textarea {
  display: block;
  height: 20em;
  width: 100%;
  box-sizing: border-box;
}
div.card label.check {
  padding: 0.5em 0.25em;
}
div.card label.check input {
  width: 1em;
  height: 1em;
  margin-left: 9em;
}
div.card label.check > span {
  text-align: left;
}

button {
  vertical-align: middle;
  color: #fff;
  background-color: #729d34;
  text-align: center;
  border: none;
  line-height: 2em;
  font-size: 1em;
  border-radius: 2px;
  padding: 0 1rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  vertical-align: middle;
  margin: 0.5em;
}
button:disabled {
  background-color: #ccc;
}
button.circle {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.rs-message button {
  position: absolute;
  top: 2px;
  right: 0.5em;
  height: 1em;
  line-height: 1em;
  padding: 0 0.5em;
  margin: 0;
}

input, select, textarea {
  font-size: 1em;
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #222;
}
input, select {
  vertical-align: middle;
  margin: 0.5em;
  padding: 0.25em;
}

input.extra-script {
  width: 60%;
}

@media (max-width: 36em) {
  body {
    font-size: 0.9em;
  }

  div.card {
    margin: 1em 0;
  }
  div.card > h3 {
    font-size: 1.2em;
    padding: 0.5em;
  }
  div.card > .content {
    padding: 0.6em;
  }

  button.circle {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    margin: 0;
  }
}
