<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Next-generation DOM manipulation">
  

  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="author" href="RactiveJS contributors">
  <link rel="canonical" href="https://ractive.js.org">

  <title>Ractive.js</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Voltaire">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/g/highlight.js@9.11.0(styles/default.min.css),pure@0.6.2(pure-min.css+grids-responsive-min.css)">
  <link rel="stylesheet" href="../../theme.css">

  <link rel="stylesheet" href="/static/css/index.css">

  
</head>

<body>
  <input class="menu-state menu-toggle" type="checkbox" name="menu-state" id="menu-state">
  <input class="toc-state menu-toggle" type="checkbox" name="toc-state" id="toc-state">
  <input class="search-state" type="checkbox" name="search-state" id="search-state">

  <div class="main">
    <div class="main__page">
      
  <div class="main__center-container">
    <div class="pure-g">
      <div class="main__sidebar-container pure-u-1 pure-u-md-1-4">
        <div class="main__sidebar">
          <div class="toc pure-menu pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item">
        <a class="pure-menu-link pure-menu-heading" href="#templates">Templates</a>
      </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#mustaches">Mustaches</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#keypaths">Keypaths</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#references">References</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#conditional-attributes">Conditional attributes</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#optimization">Optimization</a>
        </li>
      
      </li>
    
  </ul>
</div>
        </div>
      </div>
      <div class="main__content-container pure-u-1 pure-u-md-3-4">
        <div class="main__content">
          <h1 id="templates"><a class="toclink" href="#templates">Templates</a></h1>
<p>Strictly speaking, Ractive templates are not HTML. They are markup representations of objects that are used to construct HTML. Simply put, templates are <em>HTML-like</em>. Ractive parses templates into <a href="http://en.wikipedia.org/wiki/Abstract_syntax_tree">AST</a>s which contain everything Ractive needs to know to construct an instance's DOM, data bindings, events and transitions etc.</p>
<pre><code class="js">Ractive.parse('&lt;div class=&quot;message&quot;&gt;Hello World!&lt;/div&gt;')

// {&quot;v&quot;:4,&quot;t&quot;:[{&quot;t&quot;:7,&quot;e&quot;:&quot;div&quot;,&quot;m&quot;:[{&quot;n&quot;:&quot;class&quot;,&quot;f&quot;:&quot;message&quot;,&quot;t&quot;:13}],&quot;f&quot;:[&quot;Hello World!&quot;]}]}
</code></pre>

<h2 id="mustaches"><a class="toclink" href="#mustaches">Mustaches</a></h2>
<p><a href="http://mustache.github.io/">Mustache</a> is one of the most popular HTML templating languages. It has a very lightweight, readable syntax with a <a href="https://mustache.github.io/mustache.5.html">comprehensive specification</a>. If you've used <a href="http://handlebarsjs.com">Handlebars</a> or <a href="http://angularjs.org">Angular</a>, you'll also find mustaches familiar. Ractive implements a subset of the Mustache specification and adds a few extensions to the language.</p>
<h3 id="variables"><a class="toclink" href="#variables">Variables</a></h3>
<p><code>{{ }}</code>, <code>{{&amp; }}</code> and <code>{{{ }}}</code> render a reference. They are also used for binding when used on <a href="../../api/directives/">directives</a>. <code>{{ }}</code> escapes the reference while <code>{{&amp; }}</code> and <code>{{{ }}}</code> do not.</p>
<pre><code class="js">Ractive({
  data: {
    name: &quot;Chris&quot;,
    company: &quot;&lt;b&gt;GitHub&lt;/b&gt;&quot;
  },
  template: `
    {{name}}      &lt;!-- Chris --&gt;
    {{age}}       &lt;!--  --&gt;
    {{company}}   &lt;!-- &amp;lt;b&amp;gt;GitHub&amp;lt;/b&amp;gt; --&gt;
    {{&amp;company}}  &lt;!-- &lt;b&gt;GitHub&lt;/b&gt; --&gt;
    {{{company}}} &lt;!-- &lt;b&gt;GitHub&lt;/b&gt; --&gt;
  `
})
</code></pre>

<h3 id="sections"><a class="toclink" href="#sections">Sections</a></h3>
<p>Sections render a block of markup depending on the value referenced.</p>
<p>If the reference is an array, it renders the block of markup for each item in the array. The context of the section is the value of the currently iterated item. The iteration index is made available by adding a <code>:</code> after the array reference followed by the index reference.</p>
<pre><code class="js">Ractive({
  data: {
    people: [{name: 'Alice'},{name: 'Bob'},{name: 'Eve'}]
  },
  template: `
    {{#people}} {{name}} {{/people}}
    {{#people:i}} {{i}} {{name}} {{/people}}
  `
})
</code></pre>

<p>If the reference is an object <em>and the key reference is provided</em>, the section iterates through the object properties. The context of the section is the value of the currently iterated property. The iteration key is made available by adding a <code>:</code> after the object reference followed by the key reference.</p>
<pre><code class="js">Ractive({
  data: {
    places: { loc1: 'server room', loc2: 'networking lab', loc3: 'pantry'}
  },
  template: `
    {{#places:key}}
      {{ key }} {{ this }}
    {{/places}}
  `
})
</code></pre>

<p>If the reference is some other truthy value or an object but not providing the iteration key reference, it renders the block of markup using the reference as context.</p>
<pre><code class="js">Ractive({
  data: {
    isAdmin: true,
    foo: {
      bar: {
        baz: {
          qux: 'Hello, World!'
        }
      }
    }
  },
  template: `
    {{#isAdmin}} Hello Admin! {{/isAdmin}}

    {{#foo.bar.baz}} {{qux}} {{/foo.bar.baz}}
  `
})
</code></pre>

<h3 id="inverted-sections"><a class="toclink" href="#inverted-sections">Inverted Sections</a></h3>
<p><code>{{^ }}</code> renders a block of markup if the reference is falsy or is an empty iterable.</p>
<pre><code class="js">Ractive({
  data: {
    real: false,
    people: []
  },
  template: `
    {{^real}} Nope, not real {{/real}}

    {{^people}} There's no people {{/people}}
  `
})
</code></pre>

<h3 id="optional-section-closing-text"><a class="toclink" href="#optional-section-closing-text">Optional section closing text</a></h3>
<p>Regular (<code>{{# }}</code>) and inverted (<code>{{^ }}</code>) sections can be closed with optional closing text. If the closing text is provided and the section is opened with a reference, the closing text must match the opening text. Otherwise, a warning will be issued for the mismatch. If the section is opened with an expression, the closing text will always be ignored.</p>
<pre><code class="js">Ractive({
  data: {
    items: [1,2,3]
  },
  template: `
    {{#items}}
      {{this}}
    {{/items}}

    {{#items}}
      {{this}}
    {{/}}

    {{# a.concat(b) }}
      {{this}}
    {{/ I'm actually ignored but should be something meaningful like a.concat(b) }}
  `
})
</code></pre>

<h3 id="if-sections"><a class="toclink" href="#if-sections">If sections</a></h3>
<p><code>{{#if }}</code> renders a block of markup if the reference is truthy or a non-empty iterable. <code>{{else}}</code> and <code>{{elseif}}</code> are supported and render if the previous condition failed.</p>
<pre><code class="js">Ractive({
  data: {
    foo: false,
    bar: false
  },
  template: `
    {{#if foo}}
      foo
    {{elseif bar}}
      bar
    {{else}}
      baz
    {{/if}}
  `
})
</code></pre>

<h3 id="unless-sections"><a class="toclink" href="#unless-sections">Unless sections</a></h3>
<p><code>{{#unless }}</code> renders a block of markup if the reference is falsy or is an empty iterable. Unlike <code>{{#if }}</code>, the <code>{{#unless }}</code> section does not support <code>{{else}}</code> nor <code>{{elseif}}</code>.</p>
<pre><code class="js">Ractive({
  data: {
    real: false,
  },
  template: `
    {{#unless real}} Fake {{/unless}}
  `
})
</code></pre>

<h3 id="each-sections"><a class="toclink" href="#each-sections">Each sections</a></h3>
<p><code>{{#each }}</code> renders the block of markup for each item in the iterable. The context of the section is the value of the currently iterated item. <code>{{else}}</code> and <code>{{elseif}}</code> are supported and render if the iterable is empty.</p>
<pre><code class="js">Ractive({
  data: {
    people: [{name: 'Alice'},{name: 'Bob'},{name: 'Eve'}]
  },
  template: `
    {{#each people}}
      Hi! I'm {{name}}!
    {{else}}
      There's nobody here
    {{/each}}
  `
})
</code></pre>

<h3 id="with-sections"><a class="toclink" href="#with-sections">With sections</a></h3>
<p><code>{{#with }}</code> alters the current section's context by sticking a reference in front of the resolution order. This causes everything within the section to resolve to that reference's context and data hierarchy first before the original section's.</p>
<pre><code class="js">Ractive({
  el: 'body',
  append: true,
  data: {
    foo: {
      qux: 2,
      bar: {
        baz: 1
      }
    },
    fee: {
      baz: 'a'
    }
  },
  template: `
    &lt;!-- context becomes foo --&gt;
    {{#foo}}

      &lt;!-- context becomes foo.bar --&gt;
      {{#bar}}

        &lt;!-- resolution order: [foo.bar.baz], foo.baz, baz --&gt;
        {{baz}}

        &lt;!-- resolution order: foo.bar.qux, [foo.qux], baz --&gt;
        {{qux}}

        &lt;!-- sticks fee in front of foo.bar on the resolution order --&gt;
        {{#with ~/fee}}

          &lt;!-- resolution order: [fee.baz], foo.bar.baz, foo.baz, baz --&gt;
          {{baz}}

          &lt;!-- resolution order: fee.qux, foo.bar.qux, [foo.qux], qux --&gt;
          {{qux}}
        {{/with}}

      {{/}}
    {{/}}
  `
})
</code></pre>

<p><code>{{else}}</code> and <code>{{elseif}}</code> are supported and render when the context reference does not exist.</p>
<pre><code class="js">Ractive({
  data: {},
  template: `
    {{#with people}}
      {{joe}}
    {{/else}}
      Context missing
    {{/with}}
  `
})
</code></pre>

<p><code>{{#with }}</code> also allows aliasing of references, including <a href="../../api/references/#special-references">special references</a>. Aliasing is in the form of <code>reference as alias</code> pairs. Multiple alias pairs can be done by separating each with a comma. In this mode, the context within the block is not altered.</p>
<pre><code class="js">Ractive({
  el: 'body',
  append: true,
  data: {
    foo: 1,
    bar: {
      foo: 2,
      baz: 3
    }
  },
  template: `
    {{foo}} &lt;!-- 1 --&gt;

    {{#with foo as qux, @global as world}}
      {{#bar}}
        {{qux}} &lt;!-- 1 --&gt;
        {{foo}} &lt;!-- 2 --&gt;
        {{baz}} &lt;!-- 3 --&gt;
      {{/}}
    {{/with}}
  `
})
</code></pre>

<h3 id="in-template-partials"><a class="toclink" href="#in-template-partials">In-template partials</a></h3>
<p><code>{{#partial }}</code> defines a partial that is scoped to the nearest enclosing element or the containing component if defined at the top level of the template.</p>
<pre><code class="js">Ractive({
  data: {
    people: [{name: 'Alice'},{name: 'Bob'},{name: 'Eve'}],
    places: [{name: 'server room'},{name: 'networking lab'},{name: 'pantry'}]
  },
  template: `
    {{#partial item}}
      &lt;li class=&quot;item&quot;&gt;{{this}}!&lt;/li&gt;
    {{/partial}}

    &lt;ul&gt;
      {{#each people}}
        {{&gt; item }}
      {{/each}}
    &lt;/ul&gt;

    &lt;ul&gt;
      {{#each places}}
        {{&gt; item }}
      {{/each}}
    &lt;/ul&gt;

    &lt;div&gt;
      {{#partial scopedPartial}}
        Usage of {{this}} partial is only available to the descendants of the div
      {{/partial}}
    &lt;/div&gt;
  `
})
</code></pre>

<h3 id="static-mustaches"><a class="toclink" href="#static-mustaches">Static mustaches</a></h3>
<p><code>[[ ]]</code>, <code>[[&amp; ]]</code> and <code>[[[ ]]]</code> render the reference only during the initial render. After the initial render, any changes to the referece will not update the UI, nor does any change on bound UI elements cause the reference to change. They are the one-time render counterparts of <code>{{ }}</code>, <code>{{&amp; }}</code> and <code>{{{ }}}</code>, respectively.</p>
<pre><code class="js">const instance = Ractive({
  data: {
    msg: 'Hello, World!',
    admin: false
  },
  template: `
    Will change when updated: {{ msg }}     &lt;!-- changes to &quot;Me, Hungry!&quot; after the change --&gt;
    Will not change when updated: [[ msg ]] &lt;!-- remains &quot;Hello, World!&quot; after the change --&gt;

    [[# if admin ]]
      Hello, admin
    [[else]]
      Hello, normal user
    [[/if]]
  `
})

instance.set({ msg: 'Me, Hungry!' })
instance.set('admin', true) // rendering remains 'Hello, normal user'
</code></pre>

<h3 id="expressions"><a class="toclink" href="#expressions">Expressions</a></h3>
<p>Expressions in mustaches are evaluated, and its result is used as the referenced value. Any changes to the expression's dependencies will re-evaluate the expression and update the rendered value. References to variables are taken from the current context and follow the regular <a href="#reference-resolution">reference resolution</a> routine.</p>
<pre><code class="js">Ractive({
  data: {
    num1: 2,
    num2: 3,
    a: [1,2,3],
    b: [4,5,6],
    fn: () =&gt; true
  },
  template: `
    {{ num1 + num2 }}

    {{# a.concat(b) }} {{this}} {{/}}
    {{#each a.concat(b) }} {{this}} {{/each}}

    {{# fn() }} Yasss!!! {{/}}
    {{#if fn() }} Yasss!!! {{/if}}
  `
})
</code></pre>

<p>Almost any valid JavaScript expression can be used, with a few exceptions:</p>
<ul>
<li>No assignment operators (i.e. <code>a = b</code>, <code>a += 1</code>, <code>a--</code> and so on).</li>
<li>No <code>new</code>, <code>delete</code>, or <code>void</code> operators.</li>
<li>No function literals (i.e. anything that involves the <code>function</code> keyword).</li>
</ul>
<p>Expressions support only a subset of globals:</p>
<ul>
<li><code>Array</code></li>
<li><code>Date</code></li>
<li><code>JSON</code></li>
<li><code>Math</code></li>
<li><code>NaN</code></li>
<li><code>RegExp</code></li>
<li><code>decodeURI</code></li>
<li><code>decodeURIComponent</code></li>
<li><code>encodeURI</code></li>
<li><code>encodeURIComponent</code></li>
<li><code>isFinite</code></li>
<li><code>isNaN</code></li>
<li><code>null</code></li>
<li><code>parseFloat</code></li>
<li><code>parseInt</code></li>
<li><code>undefined</code></li>
</ul>
<h3 id="comments"><a class="toclink" href="#comments">Comments</a></h3>
<p><code>{{! }}</code> defines a template comment. Comments are ignored by the parser and never make it to the AST.</p>
<pre><code class="html">&lt;h1&gt;Today{{! ignore me }}.&lt;/h1&gt;
</code></pre>

<h3 id="custom-delimiters"><a class="toclink" href="#custom-delimiters">Custom delimiters</a></h3>
<p><code>{{= =}}</code> defines custom delimiters. Custom delimiters should not contain whitespace or the equals sign.</p>
<pre><code class="html">{{foo}}

{{=&lt;% %&gt;=}}
&lt;% foo %&gt;
</code></pre>

<h3 id="escaping-mustaches"><a class="toclink" href="#escaping-mustaches">Escaping mustaches</a></h3>
<p><code>\</code> prepended on a mustache interprets the mustache as literal text.</p>
<pre><code class="html">{{ ref }} \{{ ref }} &lt;!-- value {{ ref }} --&gt;
</code></pre>

<p>For multi-mustache structures, <code>\</code> must be prepended on all involved mustaches.</p>
<pre><code class="html">\{{#if foo }} \{{ bar }} \{{/if}} &lt;!-- {{#if foo }} {{ bar }} {{/if}} --&gt;
</code></pre>

<p>To interpret a <code>\</code> as a literal slash before a mustache, simply prepend another <code>\</code>. Any further <code>\</code> prepended will be treated in this manner.</p>
<pre><code class="html">\\{{ ref }}   &lt;!-- \value --&gt;
\\\{{ ref }}  &lt;!-- \\value --&gt;
\\\\{{ ref }} &lt;!-- \\\value --&gt;
</code></pre>

<h2 id="keypaths"><a class="toclink" href="#keypaths">Keypaths</a></h2>
<p>A keypath is a kind of reference that represents the location of a piece of data.</p>
<pre><code class="js">Ractive({
  data: {
    foo: {
      bar: {
        baz: {
          qux: 'Hello, World!'
        }
      }
    }
  },
  template: `
    {{ foo.bar.baz.qux }}
  `
})
</code></pre>

<h3 id="dot-and-bracket-notations"><a class="toclink" href="#dot-and-bracket-notations">Dot and bracket notations</a></h3>
<p>Dot and bracket notation rules for keypaths are similar to vanilla JS. The only addition to this is that the dot notation can also be used to access arrays, by using the index directly on the segment.</p>
<pre><code class="js">const instance = Ractive({
  data: {
    items: [1, 2, 3],
    foo: {
      bar: {
        baz: {
          qux: 'Hello, World!',
          'dotted.key': 'Me, Hungry!'
        }
      }
    },
    dynamicKey: 'bar'
  },
  template: `
    {{ foo['bar']['baz']['qux'] }} &lt;!-- bracket notation object access --&gt;
    {{ foo.bar.baz.qux }}          &lt;!-- dot notation object access --&gt;

    {{ items[0] }} &lt;!-- bracket notation array access --&gt;
    {{ items.0 }}  &lt;!-- dot notation array access --&gt;

    {{ foo.bar.baz['dotted.key'] }} &lt;!-- dotted key access --&gt;

    {{ foo[dynamicKey].baz.qux }} &lt;!-- dynamic key access --&gt;
  `
})
</code></pre>

<h3 id="missing-properties"><a class="toclink" href="#missing-properties">Missing properties</a></h3>
<p>In JavaScript, trying to access a child property of an object that does not exist would throw an error. In Ractive, it would simply return <code>undefined</code> or render nothing.</p>
<pre><code class="js">const instance = Ractive({
  data: {
    numbers: [ 1, 2, 3 ]
  },
  template: `
    {{ letters[0] }}
  `
})

ractive.get( 'letters[0]' ) // undefined
</code></pre>

<h3 id="upstream-and-downstream-keypaths"><a class="toclink" href="#upstream-and-downstream-keypaths">Upstream and downstream keypaths</a></h3>
<p>Ractive has this concept of "upstream" and "downstream" keypaths. Upstream keypaths are ancestor keypaths. For the keypath <code>foo.bar.baz.qux</code>, it's upstream keypaths are <code>foo</code>, <code>foo.bar</code> and <code>foo.bar.baz</code>. Downstream keypaths are descendant keypaths. For the <code>foo</code> keypath, it's downstream keypaths would be <code>foo.bar</code>, <code>foo.bar.baz</code> and <code>foo.bar.baz.qux</code>.</p>
<h2 id="references"><a class="toclink" href="#references">References</a></h2>
<p>A reference is a string that refers to a piece of data. A <a href="#keypaths">keypath</a> is an example of a reference, one that points to a specific location in the data. <a href="../../api/references/#special-references">Special references</a> are also a form of reference, one that provides to a certain value.</p>
<h3 id="reference-resolution"><a class="toclink" href="#reference-resolution">Reference resolution</a></h3>
<p>Ractive follows the following resolution algorithm to find the value of a reference:</p>
<ol>
<li>If the reference a <a href="../../api/references/">special reference</a>, resolve with that keypath.</li>
<li>If the reference is <a href="../../api/references/">explicit</a> or matches a path in the current context exactly, resolve with that keypath.</li>
<li>Grab the current virtual node from the template hierarchy.</li>
<li>If the reference matches an <a href="#aliasing">alias</a>, section indexes, or keys, resolve with that keypath.</li>
<li>If the reference matches any <a href="../../extend/components/#binding">mappings</a>, resolve with that keypath.</li>
<li>If the reference matches a path on the context, resolve with that keypath.</li>
<li>Remove the innermost context from the stack. Repeat steps 3-7.</li>
<li>If the reference is a valid keypath by itself, resolve with that keypath.</li>
<li>If the reference is still unresolved, add it to the 'pending resolution' pile. Each time potentially matching keypaths are updated, resolution will be attempted for the unresolved reference.</li>
</ol>
<h3 id="context-stack"><a class="toclink" href="#context-stack">Context stack</a></h3>
<p>Whenever Ractive encounters <a href="#sections">section mustaches</a> or similar constructs, it stores the context in a <em>context stack</em>. Ractive then resolves references relative to the top of the stack, and popping off contexts until the reference resolves to a keypath.</p>
<pre><code class="js">Ractive({
  data: {
    qux: 'Me, Hungry!',
    foo: {
      bar: {
        baz: 'Hello, World!'
      }
    }
  },
  template: `
                &lt;!-- context is the root of the data --&gt;
    {{#foo}}    &lt;!-- context is now foo --&gt;
      {{#bar}}  &lt;!-- context is now foo.bar --&gt;
        {{baz}} &lt;!-- Resolution order: foo.bar.baz, foo.baz, baz. Resolved at foo.bar.baz. --&gt;
        {{qux}} &lt;!-- Resolution order: foo.bar.quz, foo.qux, qux. Resolved at qux. --&gt;
      {{/}}
    {{/}}
  `,
})
</code></pre>

<h2 id="conditional-attributes"><a class="toclink" href="#conditional-attributes">Conditional attributes</a></h2>
<p>Sections can toggle attributes, whether it's one attribute, multiple attributes or specific values of the attribute.</p>
<pre><code class="html">&lt;!-- one attribute --&gt;
&lt;a href=&quot;/&quot; {{#if currentPage}}class=&quot;active&quot;{{/if}}&gt;Home&lt;/a&gt;

&lt;!-- multiple attributes --&gt;
&lt;a href=&quot;/&quot; {{#if currentPage}}class=&quot;active&quot; title=&quot;Current page&quot;{{/if}}&gt;Home&lt;/a&gt;

&lt;!-- specific attribute value --&gt;
&lt;a href=&quot;/&quot; class=&quot;nav-link {{#if currentPage}}nav-link--active{{/if}}&quot;&gt;Home&lt;/a&gt;
</code></pre>

<h2 id="optimization"><a class="toclink" href="#optimization">Optimization</a></h2>
<h3 id="pre-parsing"><a class="toclink" href="#pre-parsing">Pre-parsing</a></h3>
<p>Parsing templates can be a very slow operation. As an optimization option, templates can be pre-parsed outside of runtime, speeding up app initialization. Most <a href="../../integrations/loaders/">loaders</a> do pre-parsing of templates as part of their build process. A parsed template is approximately 30-40% larger than the markup version, making it a trade-off between space and processing.</p>
<h3 id="limiting-template-expressions"><a class="toclink" href="#limiting-template-expressions">Limiting template expressions</a></h3>
<p>While expressions provide power and convenience when building templates, it incurs a performance penalty as Ractive sets up each one on a per-instance level. To avoid this overhead, there are several places where logic can move to, trimming down expressions into mere function calls.</p>
<p>Functions can be set on the data globally via <code>Ractive.defaults.data</code>.</p>
<pre><code class="js">Ractive.defaults.data.customLogic = function(){ ... }

Ractive({
  template: `
    {{ customLogic() }}
  `
})
</code></pre>

<p>Functions can also be defined on a component level using methods.</p>
<pre><code class="js">const Component = Ractive.extend({
  template: `
    {{ @this.customLogic() }}
  `,
  customLogic(){
    ...
  }
})
</code></pre>

<h3 id="expression-processing"><a class="toclink" href="#expression-processing">Expression processing</a></h3>
<p>When Ractive parses a template, it creates a string representation of the expression structure and keeps track of its dependencies. Then Ractive converts these expression strings into a function which can be called to generate the expression's value.</p>
<p>Ractive optimizes this routine starting by generating the same expression string for structurally-identical expressions. Then a value-generating function is created for each <em>distinct</em> expression string, cached globally and shared to all instances. Furthermore, Ractive caches the generated values and only updates them when the expression's dependencies update.</p>
<pre><code class="js">// Expression parsing
Ractive.parse('{{ a + b }}{{ c + d }}');

// {
//   &quot;v&quot;: 4,
//   &quot;t&quot;: [
//     {
//       &quot;t&quot;: 2,
//       &quot;x&quot;: {
//         &quot;r&quot;: [&quot;a&quot;,&quot;b&quot;], &lt;-- dependencies here
//         &quot;s&quot;: &quot;_0+_1&quot;    &lt;-- expression string here
//       }
//     },
//     {
//       &quot;t&quot;: 2,
//       &quot;x&quot;: {
//         &quot;r&quot;: [&quot;c&quot;,&quot;d&quot;], &lt;-- dependencies here
//         &quot;s&quot;: &quot;_0+_1&quot;    &lt;-- expression string here
//       }
//     }
//   ],
//   &quot;e&quot;: {}
// }

// Building and caching of the expression resolver of `_0+_1`
const expressionFunctionsCache = {};
expressionFunctionsCache['_0+_1'] = new Function('_0', '_1', 'return _0+_1');

// Evaluate {{ a + b }}
const dep = ['a', 'b'];
const exp = '_0+_1'
const arg = dep.map(instance.get);
const val = expressionFunctionsCache[exp].apply(instance, arg);

// Evaluate {{ c + d }}
const dep = ['c', 'd'];
const exp = '_0+_1'
const arg = dep.map(instance.get);
const val = expressionFunctionsCache[exp].apply(instance, arg);
</code></pre>

<p>The <code>Function</code> constructor was chosen over <code>eval</code> because it allows Ractive to compile the expression string <em>once</em> as well as <em>cache</em> the resulting function, instead of evaluating the string every time the value is needed.</p>
        </div>
      </div>
    </div>
  </div>

    </div>
    <div class="main__footer">
      <div class="page-controls">
  
  <a class="page-controls__link" rel="edit" href="https://github.com/ractivejs/ractivejs.github.io/edit/dev/docs/concepts/templates.md" target="_blank">Edit this page</a>
  
</div>

<p class="credits">©RactiveJS contributors. Ractive.js is a free and open source project released under the MIT license.</p>
    </div>
  </div>

  <div class="nav-mobile">
    <label class="menu-toggle" for="menu-state">Menu</label>
    <label class="search-toggle" for="search-state">Search</label>
    
  <label class="toc-toggle" for="toc-state">Contents<span class="hamburger">&#8801;</span></label>

  </div>
  <label class="playground-toggle">Ractive Playground<span title="Fullscreen" class="playground-fullscreen">&#9974;</span></label>

  <div class="playground-container">
    <div class="close-fullscreen" title="Exit Fullscreen">
      &#8977;
    </div>
    <iframe class="playground-frame" src="/playground/?env=docs"></iframe>
  </div>

  <div class="nav-side pure-menu pure-menu-fixed pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="../..">Ractive.js</a>
      </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Get Started</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/hello-world/">Hello, world!</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/nested-properties/">Nested Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/expressions/">Expressions</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/conditional-sections/">Conditional Sections</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/iterative-sections/">Iterative Sections</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/two-way-binding/">Two-way Binding</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/partials/">Partials</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/triples-embedded-html/">Triples (Embedded HTML)</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/components/">Components</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/animation/">Animations</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/svg/">SVG</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/transitions/">Transitions</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/tutorials/decorators/">Decorators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/support/">Support</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../get-started/migrating/">Migrating</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">API</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/initialization-options/">Initialization Options</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/static-properties/">Static Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/static-methods/">Static Methods</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/instance-properties/">Instance Properties</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/instance-methods/">Instance Methods</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/context-object/">Context Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/parse-object/">Parse Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/transition-object/">Transition Object</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/directives/">Directives</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/references/">References</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Extend</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/adaptors/">Adaptors</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/components/">Components</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/decorators/">Decorators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/easings/">Easings</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/events/">Events</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/interpolators/">Interpolators</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/partials/">Partials</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../extend/transitions/">Transitions</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item ">
        <a class="pure-menu-link pure-menu-heading" href="">Integrations</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../api/component-files/">Component Files</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/loaders/">Loaders</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/plugins/">Plugins</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/tools/">Tools</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../../integrations/libraries/">Libraries</a>
        </li>
      
      </li>
    
      <li class="pure-menu-item pure-menu-selected">
        <a class="pure-menu-link pure-menu-heading" href="">Concepts</a>
      </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../architecture/">Architecture</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../data-management/">Data Management</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../event-management/">Event Management</a>
        </li>
      
        <li class="pure-menu-item pure-menu-selected">
          <a class="pure-menu-link" href="./">Templates</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../rendering/">Rendering</a>
        </li>
      
        <li class="pure-menu-item ">
          <a class="pure-menu-link" href="../security/">Security</a>
        </li>
      
      </li>
    
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/ractivejs/ractive">Github</a>
    </li>
  </ul>
</div>
  
  <div class="toc-side pure-menu pure-menu-fixed pure-menu-scrollable">
  <ul class="pure-menu-list">
    
      <li class="pure-menu-item">
        <a class="pure-menu-link pure-menu-heading" href="#templates">Templates</a>
      </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#mustaches">Mustaches</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#keypaths">Keypaths</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#references">References</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#conditional-attributes">Conditional attributes</a>
        </li>
      
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="#optimization">Optimization</a>
        </li>
      
      </li>
    
  </ul>
</div>

  <div class="nav-main pure-menu pure-menu-horizontal pure-menu-fixed">
  <div class="nav-container">
    <ul class="pure-menu-list">
      
        
          <li class="pure-menu-item ">
            <a class="pure-menu-link" href="../..">Ractive.js</a>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">Get Started</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/hello-world/">Hello, world!</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/nested-properties/">Nested Properties</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/expressions/">Expressions</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/events/">Events</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/conditional-sections/">Conditional Sections</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/iterative-sections/">Iterative Sections</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/two-way-binding/">Two-way Binding</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/partials/">Partials</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/triples-embedded-html/">Triples (Embedded HTML)</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/components/">Components</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/animation/">Animations</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/svg/">SVG</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/transitions/">Transitions</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/tutorials/decorators/">Decorators</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/support/">Support</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../get-started/migrating/">Migrating</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">API</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/initialization-options/">Initialization Options</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/static-properties/">Static Properties</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/static-methods/">Static Methods</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/instance-properties/">Instance Properties</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/instance-methods/">Instance Methods</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/context-object/">Context Object</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/parse-object/">Parse Object</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/transition-object/">Transition Object</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/directives/">Directives</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/references/">References</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">Extend</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/adaptors/">Adaptors</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/components/">Components</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/decorators/">Decorators</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/easings/">Easings</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/events/">Events</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/interpolators/">Interpolators</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/partials/">Partials</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../extend/transitions/">Transitions</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover ">
              <span class="pure-menu-link">Integrations</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../api/component-files/">Component Files</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/loaders/">Loaders</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/plugins/">Plugins</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/tools/">Tools</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../../integrations/libraries/">Libraries</a>
                  </li>
                
              </ul>
          </li>
        
      
        
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-selected">
              <span class="pure-menu-link">Concepts</span>
              <ul class="pure-menu-children">
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../architecture/">Architecture</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../data-management/">Data Management</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../event-management/">Event Management</a>
                  </li>
                
                  <li class="pure-menu-item pure-menu-selected">
                    <a class="pure-menu-link" href="./">Templates</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../rendering/">Rendering</a>
                  </li>
                
                  <li class="pure-menu-item ">
                    <a class="pure-menu-link" href="../security/">Security</a>
                  </li>
                
              </ul>
          </li>
        
      
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="https://github.com/ractivejs/ractive">Github</a>
      </li>
      <li class="pure-menu-item">
        <label class="pure-menu-link search-toggle" for="search-state">Search</label>
      </li>
    </ul>
  </div>
</div>

  <div class="search-modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
    <label class="close-search" for="search-state" aria-role="close">&times;</label>
    <input type="text" class="search-field" placeholder="Search..." id="mkdocs-search-query">
    <div id="mkdocs-search-results"></div>
  </div>

  <script src="//cdn.jsdelivr.net/g/jquery@3.2.1,highlight.js@9.11.0"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="../../static/js/index.js"></script>
  <script>var base_url = '../..';</script>
  <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
</body>

</html>